@font-face {
  font-family: 'icomoon';
  src:  url('/assets/fonts/icomoon.eot?q5bqaw');
  src:  url('/assets/fonts/icomoon.eot?q5bqaw#iefix') format('embedded-opentype'),
    url('/assets/fonts/icomoon.ttf?q5bqaw') format('truetype'),
    url('/assets/fonts/icomoon.woff?q5bqaw') format('woff'),
    url('/assets/fonts/icomoon.svg?q5bqaw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-briefcase:before {
  content: "\e9ae";
}
.icon-alert-triangle:before {
  content: "\e952";
}
.icon-archive:before {
  content: "\e954";
}
.icon-award:before {
  content: "\e956";
}
.icon-calendar:before {
  content: "\e958";
}
.icon-check-circle:before {
  content: "\e95a";
}
.icon-file-text:before {
  content: "\e95c";
}
.icon-heart:before {
  content: "\e95e";
}
.icon-help-circle:before {
  content: "\e94e";
}
.icon-info:before {
  content: "\e94a";
}
.icon-link:before {
  content: "\e960";
}
.icon-map-pin:before {
  content: "\e942";
}
.icon-menu:before {
  content: "\e93a";
}
.icon-more-vertical:before {
  content: "\e93e";
}
.icon-printer:before {
  content: "\e962";
}
.icon-repeat:before {
  content: "\e946";
}
.icon-shopping-cart:before {
  content: "\e966";
}
.icon-search:before {
  content: "\e90e";
}
.icon-arrow-left:before {
  content: "\e909";
}
.icon-arrow-right:before {
  content: "\e90d";
}
.icon-arrow-down:before {
  content: "\e915";
}
.icon-arrow-up:before {
  content: "\e919";
}
.icon-bell:before {
  content: "\e903";
}
.icon-bell-off:before {
  content: "\e907";
}
.icon-calendar1:before {
  content: "\e91f";
}
.icon-check:before {
  content: "\e923";
}
.icon-git-commit:before {
  content: "\e927";
}
.icon-sliders:before {
  content: "\e92b";
}
.icon-chevron-left:before {
  content: "\e900";
}
.icon-chevron-right:before {
  content: "\e930";
}
.icon-help-circle1:before {
  content: "\e94f";
}
.icon-info1:before {
  content: "\e94b";
}
.icon-map-pin1:before {
  content: "\e943";
}
.icon-menu1:before {
  content: "\e93b";
}
.icon-more-vertical1:before {
  content: "\e93f";
}
.icon-repeat1:before {
  content: "\e947";
}
.icon-search1:before {
  content: "\e90f";
}
.icon-arrow-left1:before {
  content: "\e90a";
}
.icon-arrow-right1:before {
  content: "\e912";
}
.icon-arrow-down1:before {
  content: "\e916";
}
.icon-arrow-up1:before {
  content: "\e91a";
}
.icon-bell1:before {
  content: "\e904";
}
.icon-bell-off1:before {
  content: "\e908";
}
.icon-calendar2:before {
  content: "\e920";
}
.icon-check1:before {
  content: "\e924";
}
.icon-git-commit1:before {
  content: "\e928";
}
.icon-sliders1:before {
  content: "\e92c";
}
.icon-chevron-left1:before {
  content: "\e901";
}
.icon-chevron-right1:before {
  content: "\e931";
}
.icon-alert-triangle1:before {
  content: "\e953";
}
.icon-archive1:before {
  content: "\e955";
}
.icon-award1:before {
  content: "\e957";
}
.icon-calendar3:before {
  content: "\e959";
}
.icon-check-circle1:before {
  content: "\e95b";
}
.icon-file-text1:before {
  content: "\e95d";
}
.icon-heart1:before {
  content: "\e95f";
}
.icon-help-circle2:before {
  content: "\e950";
}
.icon-info2:before {
  content: "\e94c";
}
.icon-link1:before {
  content: "\e961";
}
.icon-map-pin2:before {
  content: "\e944";
}
.icon-menu2:before {
  content: "\e93c";
}
.icon-more-vertical2:before {
  content: "\e940";
}
.icon-printer1:before {
  content: "\e963";
}
.icon-repeat2:before {
  content: "\e948";
}
.icon-search2:before {
  content: "\e910";
}
.icon-arrow-left2:before {
  content: "\e90b";
}
.icon-arrow-right2:before {
  content: "\e913";
}
.icon-arrow-down2:before {
  content: "\e917";
}
.icon-arrow-up2:before {
  content: "\e91b";
}
.icon-bell2:before {
  content: "\e905";
}
.icon-bell-off2:before {
  content: "\e91d";
}
.icon-calendar11:before {
  content: "\e921";
}
.icon-check2:before {
  content: "\e925";
}
.icon-git-commit2:before {
  content: "\e929";
}
.icon-sliders2:before {
  content: "\e92d";
}
.icon-chevron-left2:before {
  content: "\e902";
}
.icon-chevron-right2:before {
  content: "\e934";
}
.icon-help-circle11:before {
  content: "\e951";
}
.icon-info11:before {
  content: "\e94d";
}
.icon-map-pin11:before {
  content: "\e945";
}
.icon-menu11:before {
  content: "\e93d";
}
.icon-more-vertical11:before {
  content: "\e941";
}
.icon-repeat11:before {
  content: "\e949";
}
.icon-search11:before {
  content: "\e911";
}
.icon-arrow-left11:before {
  content: "\e90c";
}
.icon-arrow-right11:before {
  content: "\e914";
}
.icon-arrow-down11:before {
  content: "\e918";
}
.icon-arrow-up11:before {
  content: "\e91c";
}
.icon-bell11:before {
  content: "\e906";
}
.icon-bell-off11:before {
  content: "\e91e";
}
.icon-calendar21:before {
  content: "\e922";
}
.icon-check11:before {
  content: "\e926";
}
.icon-git-commit11:before {
  content: "\e92a";
}
.icon-sliders11:before {
  content: "\e92e";
}
.icon-chevron-left11:before {
  content: "\e92f";
}
.icon-chevron-right11:before {
  content: "\e935";
}
.icon-hammer:before {
  content: "\e967";
}
.icon-building:before {
  content: "\e932";
}
.icon-office:before {
  content: "\e964";
}
.icon-library:before {
  content: "\e933";
}
.icon-bank:before {
  content: "\e933";
}
.icon-building1:before {
  content: "\e933";
}
.icon-office1:before {
  content: "\e965";
}
.icon-circle:before {
  content: "\e936";
}
.icon-circle1:before {
  content: "\e937";
}
.icon-circle2:before {
  content: "\e938";
}
.icon-circle11:before {
  content: "\e939";
}
