<div class="container view-container">

  <h1 class="sr-only">Sobre</h1>

  <section class="sessao-texto sessao-light">
    <div class="row mb-4 d-flex justify-content-center">
      <div class="col-8 col-md-4">
        <img
          src="assets/imgs/logo_color.svg"
          alt="Tá de pé | Merenda"
          width="100%">
      </div>
    </div>
    <p>
      Tá de Pé é um projeto da Transparência Brasil que monitora a implementação de políticas públicas. Ele engloba diferentes iniciativas: o Tá de Pé Obras para monitoramento de obras de escolas, creches e quadras escolares; o chatbot Rango para reportar informações sobre a merenda em cada escola; e esta plataforma, que permite comparar dados e identificar problemas em contratos de alimentação escolar.
    </p>
    <p>
      O objetivo do Tá de Pé Merenda é facilitar a fiscalização pela sociedade civil em como estados e municípios gastam os recursos de alimentação escolar. Aqui é possível acompanhar licitações, contratos e empenhos dos municípios brasileiros. Atualmente temos dados dos municípios do estado do Rio Grande do Sul e de Pernambuco a partir de 2018. Em breve, o Tá de Pé Merenda contará com informações de municípios de outros estados. Para isto, estamos em diálogo com os Tribunais de Contas para que disponibilizem dados com a qualidade necessária para possibilitar o controle social.
    </p>
  </section>

  <section class="sessao-texto sessao-light">
    <div class="row mb-4 d-flex justify-content-center">
      <div class="col-sm-8 col-md-5">
        <img
          src="assets/imgs/transparencialogo.png"
          alt="Transparência Brasil"
          width="100%">
      </div>
    </div>
    <p>
      A Transparência Brasil é uma organização independente e autônoma, fundada em abril de 2000 por um grupo de indivíduos e entidades não-governamentais comprometidos com o combate à corrupção. Nossa missão é promover a transparência e o controle social do poder público, contribuindo para a integridade e o aperfeiçoamento das instituições, das políticas públicas e do processo democrático. Saiba mais em
      <a href="https://www.transparencia.org.br" target="_blank">www.transparencia.org.br</a>.
    </p>
  </section>

  <section class="sessao-texto sessao-light">
    <h2 class="text-center">Parceiros</h2>
    <div class="row d-flex justify-content-center">
      <div class="col-6 col-md-4">
        <img src="assets/imgs/tce-rs.png" alt="TCE Rio Grande do Sul" width="100%">
      </div>
      <div class="col-6 col-md-4 align-self-center">
        <img src="assets/imgs/tce-pe.png" alt="TCE Pernambuco" width="100%">
      </div>
      <div class="col-6 col-md-4 align-self-center">
        <img src="assets/imgs/observatorio.jpg" alt="Observatório Social de Porto Alegre" width="100%">
      </div>
    </div>
    <p>
      Quer se tornar um parceiro no monitoramento da alimentação escolar local? Entre em contato em
      <a href="mailto:tadepe@transparencia.org.br">tadepe@transparencia.org.br</a>.
    </p>
  </section>

  <section class="sessao-texto sessao-light">
    <h2 class="text-center">Financiamento</h2>
    <div class="row d-flex justify-content-center">
      <div class="col-6 col-md-4">
        <img src="assets/imgs/logo-tinker-2019-white.png" alt="Tinker Foundation" width="100%">
      </div>
    </div>
  </section>

</div>
