<div class="container view-container">

  <h1 class="sr-only">Sobre</h1>

  <section class="sessao-texto">
    <div class="row mb-4 d-flex justify-content-center">
      <div class="col-6 col-md-3 col-lg-2">
        <img
          src="assets/imgs/logo_color.svg"
          alt="Tá de pé"
          width="100%">
      </div>
    </div>

    <p>
      Tá de Pé é um projeto da Transparência Brasil que monitora recursos federais destinados à educação. Ele engloba diferentes iniciativas: o app de celular Tá de Pé para monitoramento de obras de escolas e creches, o chatbot Rango para reportar informações sobre a merenda em cada escola, e esta plataforma, que permite comparar dados e identificar problemas em contratos de alimentação escolar.
    </p>
    <p>
      O objetivo desta plataforma é facilitar a fiscalização pela sociedade de como os municípios gastam o dinheiro da merenda. Aqui é possível acompanhar licitações, contratos e empenhos dos municípios brasileiros. Na versão beta, temos dados apenas dos municípios do estado do Rio Grande do Sul a partir de 2017. Em breve, este repositório contará com informações de municípios dos demais estados brasileiros.
    </p>
  </section>

  <section class="sessao-texto">
    <h2>Transparência Brasil</h2>

    <p>
      A Transparência Brasil é uma organização independente e autônoma, fundada em abril de 2000 por um grupo de indivíduos e entidades não-governamentais comprometidos com o combate à corrupção. Nossa missão é promover a transparência e o controle social do poder público, contribuindo para a integridade e o aperfeiçoamento das instituições, das políticas públicas e do processo democrático. Saiba mais em
      <a href="https://www.transparencia.org.br" target="_blank">www.transparencia.org.br</a>.
    </p>
  </section>

  <section class="sessao-texto">
    <h2>Parceiros</h2>
    <div class="row d-flex justify-content-center">
      <div class="col-6 col-md-4">
        <img src="assets/imgs/tce-rs.png" alt="TCE Rio Grande do Sul" width="100%">
      </div>
      <div class="col-6 col-md-4">
        <img src="assets/imgs/observatorio.png" alt="Observatório Social de Porto Alegre" width="100%">
      </div>
    </div>
    <p>
      Quer se tornar um parceiro no monitoramento da alimentação escolar local? Entre em contato em
      <a href="mailto:tadepe@transparencia.org.br">tadepe@transparencia.org.br</a>.
    </p>
  </section>

  <section class="sessao-texto">
    <h2>Financiamento</h2>
    <p>Este projeto é financiado pela Tinker Foundation.</p>
  </section>

</div>
