<div class="container view-container">

  <h1 class="sr-only">Sobre</h1>

  <section class="sessao-texto sessao-light">
    <div class="row mb-4 d-flex justify-content-center">
      <div class="col-8 col-md-4">
        <img
          src="assets/imgs/logo_color.svg"
          alt="Tá de pé - Compras emergenciais"
          width="100%">
      </div>
    </div>
    <p>
      Tá de Pé é um projeto da Transparência Brasil que monitora a implementação de políticas públicas. Ele engloba diferentes iniciativas na área da educação: o app de celular Tá de Pé Obras para monitoramento de obras de escolas e creches e quadras escolares, o chatbot Rango para reportar informações sobre a merenda em cada escola, e esta plataforma, que permite comparar dados e identificar problemas em contratos de combate ao COVID-19.
    </p>
    <p>
      O objetivo desta plataforma é facilitar a fiscalização pela sociedade civil de como os municípios gastam os recursos de combate ao COVID-19. Aqui é possível acompanhar licitações, contratos e empenhos dos municípios brasileiros. Na versão beta, temos dados apenas dos municípios do estado do Rio Grande do Sul a partir de 2017.
    </p>
  </section>

  <section class="sessao-texto sessao-light">
    <div class="row mb-4 d-flex justify-content-center">
      <div class="col-sm-8 col-md-5">
        <img
          src="assets/imgs/transparencialogo.png"
          alt="Transparência Brasil"
          width="100%">
      </div>
    </div>
    <p>
      A Transparência Brasil é uma organização independente e autônoma, fundada em abril de 2000 por um grupo de indivíduos e entidades não-governamentais comprometidos com o combate à corrupção. Nossa missão é promover a transparência e o controle social do poder público, contribuindo para a integridade e o aperfeiçoamento das instituições, das políticas públicas e do processo democrático. Saiba mais em
      <a href="https://www.transparencia.org.br" target="_blank">www.transparencia.org.br</a>.
    </p>
  </section>

  <section class="sessao-texto sessao-light">
    <h2 class="text-center">Parceiros</h2>
    <div class="row d-flex justify-content-center">
      <div class="col-6 col-md-4">
        <img src="assets/imgs/tce-rs.png" alt="TCE Rio Grande do Sul" width="100%">
      </div>
      <div class="col-6 col-md-4 align-self-center">
        <img src="assets/imgs/observatorio.jpg" alt="Observatório Social de Porto Alegre" width="100%">
      </div>
    </div>
    <p>
      Quer se tornar um parceiro no monitoramento da alimentação escolar local? Entre em contato em
      <a href="mailto:tadepe@transparencia.org.br">tadepe@transparencia.org.br</a>.
    </p>
  </section>

  <section class="sessao-texto sessao-light">
    <h2 class="text-center">Doe e fortaleça o controle de compras emergenciais</h2>
    <div class="row d-flex justify-content-center">
      <div class="col-6 col-md-4">
        <img src="assets/imgs/ico-doacao.png" alt="Doe" width="100%">
      </div>
    </div>
    <p>
      Em função da pandemia, os processos de compras públicas estão acelerados para que produtos e serviços cheguem rápido a quem precisa. Exatamente por isso precisamos aumentar a fiscalização cidadã e detectar rapidamente possíveis fraudes e esquemas de  corrupção para que o dinheiro público seja efetivamente usado no combate a COVID-19.
    </p>
    <p>
      Apoie o controle de compras emergenciais e ajude a garantir que os recursos públicos cheguem aonde devem chegar: na luta contra a pandemia.
    </p>
    <p class="text-center">
      <a href="https://www.transparencia.org.br/apoie/doacoes"
        target="_blank"
        rel="noopener noreferrer"
        class="btn btn-success">Faça sua doação</a>
    </p>
  </section>

</div>
