.btn-item {
  white-space: nowrap;
}
.negativo {
  color: #b7472a;
}

.positivo {
  color: #0c7b93;
}

.table-item {
  cursor: pointer;
}

.table-item-strong {
  font-weight: bold;
}

.head-controls {
  border: none;
}
