<div>
  <h4 class="titulo-sessao">Contratos</h4>

  <p [hidden]="contratoLicitacao?.length > 0 || isLoading">Ainda não há contratos para essa licitação.</p>

  <app-spinner *ngIf="isLoading"></app-spinner>

  <ngb-accordion
    #acc="ngbAccordion"
    [activeIds]="activeIds"
    [closeOthers]="true">
    <ngb-panel
      id="panel-{{ contrato?.id_contrato }}"
      [title]="contrato?.contratoFornecedor?.nm_pessoa !== null ? 'Contrato ' + contrato?.nr_contrato + '/' + contrato?.ano_contrato + ' - ' + contrato?.contratoFornecedor?.nm_pessoa : 'Contrato ' + contrato?.nr_contrato"
      *ngFor="let contrato of contratoLicitacao; index as i">
      <ng-template ngbPanelContent>

        <h3>
          {{ contrato?.nr_documento_contratado | formatCpfCnpj }}
        </h3>

        <div class="row mt-4">
          <div class="col-sm-6 col-md-3 col-lg-2 mb-4">
            <div class="dados-linha">
              <strong>Valor</strong>
            </div>
            <div class="dados-linha">
              {{ contrato?.vl_contrato | currency: "R$" }}
            </div>
          </div>
          <div class="col-sm-6 col-md-5 col-lg-3 mb-4">
            <div class="dados-linha">
              <strong>Contratado vs Estimado</strong>
            </div>
            <div class="dados-linha">
              <span *ngIf="contrato?.valor_contratado - contrato?.valor_estimado === 0">--</span>
              <span
                *ngIf="contrato?.valor_contratado - contrato?.valor_estimado < 0"
                class="positivo">
                {{ contrato?.valor_contratado - contrato?.valor_estimado  | currency: "R$" }}
              </span>
              <span
                *ngIf="contrato?.valor_contratado - contrato?.valor_estimado > 0"
                class="negativo">
                {{ contrato?.valor_contratado - contrato?.valor_estimado  | currency: "+R$" }}
              </span>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-7 mb-4">
            <div class="dados-linha">
              <strong>Vigência</strong>
            </div>
            <div class="dados-linha">
              {{ contrato?.dt_inicio_vigencia | date: "dd/MM/yyyy" }} à {{ contrato?.dt_final_vigencia | date: "dd/MM/yyyy" }}
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th class="head-controls">&nbsp;</th>
                <th
                  class="head-controls text-right"
                  colspan="6">
                  <form [formGroup]="radioGroupForm">
                    <div class="toggle-wrapper toggle-wrapper-right">
                      <span class="toggle-label">Unidade</span>
                      <input
                        class="toggle toggle-flat"
                        id="cb4"
                        type="checkbox"
                        formControlName="showTotal"
                        [value]="true"
                        checked>
                      <label
                        class="toggle-btn"
                        for="cb4"></label>
                      <span class="toggle-label">Total</span>
                    </div>
                  </form>
                </th>
              </tr>
              <tr>
                <th
                  scope="col"
                  class="text-left table-th-dividido-up align-middle">
                Item
                </th>
                <th
                  scope="col"
                  class="table-th-monospace table-th-dividido-up text-right"
                  *ngIf="!radioGroupForm.value['showTotal']">
                  Valor por
                  <br>
                  unidade
                  <br>
                  (R$)
                </th>
                <th
                  scope="col"
                  class="table-th-monospace table-th-dividido-up text-right"
                  *ngIf="radioGroupForm.value['showTotal']">
                  Valor total
                  <br>
                  (R$)
                </th>
                <th
                  scope="col"
                  class="table-th-monospace table-th-dividido-up text-right">
                  Valor médio
                  <br>
                  no estado
                  <br>
                  (R$)
                </th>
                <th
                  scope="col"
                  class="table-th-monospace table-th-percent table-th-dividido-up text-right">
                  Valor vs.
                  <br>
                  no estado
                  <br>
                  (%)
                </th>
                <th
                  scope="col"
                  class="table-th-monospace table-th-dividido-up text-right">
                  Valor
                  <br>
                  estimado
                  <br>
                  (R$)
                </th>
                <th
                  scope="col"
                  class="table-th-monospace table-th-percent table-th-dividido-up text-right">
                  Valor vs.
                  <br>
                  estimado
                  <br>
                  (%)
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of contrato?.itensContrato; index as i"
                class="table-item"
                (click)="open(content, item)">
                <td class="text-nowrap align-middle">
                  {{ item.ds_item | resumirTexto }}...
                  <span class="text-muted">
                    ({{ item.qt_itens_contrato }} {{ item.itensLicitacaoItensContrato.sg_unidade_medida | lowercase }})
                  </span>
                </td>
                <td
                  class="numero align-middle"
                  *ngIf="!radioGroupForm.value['showTotal']">
                  {{ item.vl_item_contrato | currency:'':'' }}
                </td>
                <td
                  class="numero align-middle"
                  *ngIf="radioGroupForm.value['showTotal']">
                  {{ item.vl_total_item_contrato | currency:'':'' }}
                </td>
                <td
                  class="numero align-middle"
                  *ngIf="!radioGroupForm.value['showTotal']"
                  [title]="item.mediana_valor">
                  {{ item.mediana_valor | currency:'':'' }}
                </td>
                <td
                  class="numero align-middle"
                  *ngIf="radioGroupForm.value['showTotal']"
                  [title]="item.mediana_valor * item.qt_itens_contrato">
                  {{ item.mediana_valor * item.qt_itens_contrato | currency:'':'' }}
                </td>
                <td
                  class="numero align-middle"
                  [title]="item.mediana_valor"
                  [style.background-color]="defineCorFundo(item.percentual_vs_estado)"
                  [style.color]="defineCor(item.percentual_vs_estado)">
                  <span *ngIf="item.percentual_vs_estado > 0">+</span>{{ item.percentual_vs_estado | percent:'1.1' }}
                </td>
                <td
                  class="numero align-middle"
                  *ngIf="!radioGroupForm.value['showTotal']"
                  [title]="item.itensLicitacaoItensContrato.vl_unitario_estimado">
                  {{ item.itensLicitacaoItensContrato.vl_unitario_estimado | currency:'':'' }}
                </td>
                <td
                  class="numero align-middle"
                  *ngIf="radioGroupForm.value['showTotal']"
                  [title]="item.itensLicitacaoItensContrato.vl_unitario_estimado * item.qt_itens_contrato">
                  {{ item.qt_itens_contrato * item.itensLicitacaoItensContrato.vl_unitario_estimado | currency:'':'' }}
                </td>
                <td
                  class="numero align-middle"
                  [title]="item.itensLicitacaoItensContrato.vl_unitario_estimado"
                  [style.background-color]="defineCorFundo(item.percentual_vs_estimado)"
                  [style.color]="defineCor(item.percentual_vs_estimado)">
                  <span
                    *ngIf="item.percentual_vs_estimado > 0">
                  +</span>{{ item.percentual_vs_estimado | percent:'1.1' }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

  <ng-template
    #content
    let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Detalhes do item</h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Fechar"
        (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="row item-destaque-wrapper">
        <div class="col-12">
          <strong>Descrição</strong>
        </div>
        <div class="col-lg-7 pb-4">{{ itemSelecionado.ds_item }}</div>
        <div class="col-lg-5">

          <div class="row">
            <div class="col-md-6">

              <div>
                <strong>Valor por unidade</strong>
              </div>
              <div class="numero numero-destaque">
                {{ itemSelecionado.vl_item_contrato | currency:'R$' }}
              </div>
              <div *ngIf="itemSelecionado.vl_item_contrato - itemSelecionado.mediana_valor !== 0">
                <span
                  *ngIf="itemSelecionado.vl_item_contrato - itemSelecionado.mediana_valor < 0"
                  class="positivo">
                  {{ itemSelecionado.vl_item_contrato - itemSelecionado.mediana_valor | currency:'':'' }}
                    ({{ (itemSelecionado.vl_item_contrato - itemSelecionado.mediana_valor) / itemSelecionado.mediana_valor | percent:'1.1' }})
                </span>
                <span
                  *ngIf="itemSelecionado.vl_item_contrato - itemSelecionado.mediana_valor > 0"
                  class="negativo">
                  +{{ itemSelecionado.vl_item_contrato - itemSelecionado.mediana_valor | currency:'':'' }}
                    ({{ (itemSelecionado.vl_item_contrato - itemSelecionado.mediana_valor) / itemSelecionado.mediana_valor | percent:'1.1' }})
                </span>
              </div>

            </div>
            <div class="col-md-6">

              <div>
                <strong>Mediana do estado</strong>
              </div>
              <div class="numero numero-destaque">
                {{ itemSelecionado.mediana_valor | currency:'R$' }}
              </div>

            </div>
          </div>

        </div>
      </div>

      <h4>Comparação do item com seus similares</h4>

      <div class="table-responsive">
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th
                scope="col"
                class="text-left align-middle">
                Itens similares
              </th>
              <th
                scope="col"
                class="table-th-monospace text-right">
                Valor por
                <br>
                unidade (R$)
              </th>
              <th
                scope="col"
                class="table-th-monospace text-right">
                vs item
                <br>
                (R$)
              </th>
              <th
                scope="col"
                class="table-th-monospace text-right">
                &nbsp;
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of itemSelecionado?.itensSemelhantes; index as i"
              class>
              <td class="align-middle">
                <details>
                  <summary>{{ item.ds_item | resumirTexto }}...</summary>
                  <p>{{ item.ds_item }}</p>
                </details>
              </td>
              <td class="numero align-middle">
                {{ item.vl_item_contrato | currency:'':'' }}
              </td>
              <td class="numero align-middle">
                <span *ngIf="item.vl_item_contrato - itemSelecionado.vl_item_contrato === 0">--</span>
                <span
                  *ngIf="item.vl_item_contrato - itemSelecionado.vl_item_contrato < 0"
                  class="positivo">
                  {{ item.vl_item_contrato - itemSelecionado.vl_item_contrato | currency:'':'' }}
                </span>
                <span
                  *ngIf="item.vl_item_contrato - itemSelecionado.vl_item_contrato > 0"
                  class="negativo">
                  +{{ item.vl_item_contrato - itemSelecionado.vl_item_contrato | currency:'':'' }}
                </span>
              </td>
              <td class="align-middle">
                <div class="ml-2">
                  <a
                    [routerLink]="['/licitacoes/' + item.id_licitacao + '/contratos']"
                    [queryParams]="{ id: item.id_contrato }"
                    target="_blank"
                    class="btn btn-light btn-sm text-nowrap">
                    <span class="icon-arrow-right"></span>
                    Ver contrato
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-primary"
        (click)="modal.close('Fechar')">
        Fechar
      </button>
    </div>
  </ng-template>
</div>
