<div>
  <h4>Contratos</h4>

  <app-spinner *ngIf="isLoading"></app-spinner>

  <ngb-accordion
    #acc="ngbAccordion"
    [activeIds]="activeIds"
    [closeOthers]="true">
    <ngb-panel
      id="panel-{{ contrato?.id_contrato }}"
      [title]="contrato?.contratoFornecedor?.nm_pessoa !== null ? 'Contrato ' + contrato?.nr_contrato + ' - ' + contrato?.contratoFornecedor?.nm_pessoa : 'Contrato ' + contrato?.nr_contrato"
      *ngFor="let contrato of contratoLicitacao; index as i">
      <ng-template ngbPanelContent>

        <div class="dados-grupo">
          <div class="dados-linha">
            <strong>Contrato:&nbsp;</strong>
            <span class="text-muted">{{ contrato?.nr_contrato }}</span>
          </div>
          <div class="dados-linha">
            <strong>Valor:&nbsp;</strong>
            <span class="text-muted">
              {{ contrato?.vl_contrato | currency: "R$" }}
            </span>
          </div>
          <div class="dados-linha">
            <strong>Estimado x Contratado:&nbsp;</strong>
            <span *ngIf="contrato?.valor_contratado - contrato?.valor_estimado === 0">--</span>
            <span
              *ngIf="contrato?.valor_contratado - contrato?.valor_estimado < 0"
              class="positivo">
              {{ contrato?.valor_contratado - contrato?.valor_estimado  | currency: "R$" }}
            </span>
            <span
              *ngIf="contrato?.valor_contratado - contrato?.valor_estimado > 0"
              class="negativo">
              {{ contrato?.valor_contratado - contrato?.valor_estimado  | currency: "+R$" }}
            </span>
          </div>
          <div class="dados-linha">
            <strong>Fornecedor:&nbsp;</strong>
            <span *ngIf="contrato?.contratoFornecedor?.nm_pessoa !== null" class="text-muted">
              {{ contrato?.nr_documento_contratado | formatCpfCnpj }} - {{ contrato?.contratoFornecedor?.nm_pessoa }}</span>
            <span *ngIf="contrato?.contratoFornecedor?.nm_pessoa === null" class="text-muted">
              {{ contrato?.nr_documento_contratado | formatCpfCnpj }} (Nome não encontrado)</span>
          </div>
          <div class="dados-linha">
            <strong>Tipo de Fornecedor:&nbsp;</strong>
            <span class="text-muted">{{ getTipoFornecedor(contrato?.contratoFornecedor?.tp_pessoa) }}</span>
          </div>
          <div class="dados-linha">
            <strong>Início do contrato:&nbsp;</strong>
            <span class="text-muted">{{ contrato?.dt_inicio_vigencia | date: "dd-MM-yyyy" }}</span>
          </div>
          <div class="dados-linha">
            <strong>Fim do contrato:&nbsp;</strong>
            <span class="text-muted">{{ contrato?.dt_final_vigencia | date: "dd-MM-yyyy" }}</span>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" class="text-left">#</th>
                <th scope="col" class="text-left">Item</th>
                <th scope="col" class="text-center">Quantidade de itens</th>
                <th scope="col" class="text-center">Valor unitário contratado</th>
                <th scope="col" class="text-center">Desvio de preço (Mediana estadual)</th>
                <th scope="col" class="text-center">Estimado x Contratado (Unitária)</th>
                <th scope="col" class="text-center">Estimado x Contratado (Total)</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of contrato?.itensContrato; index as i">
                <th scope="row" class="text-left">{{ i + 1 }}</th>
                <td>
                  <button
                    class="btn btn-link btn-item"
                    (click)="open(content, item.ds_item)">
                    {{ getDescricaoResumida(item.ds_item) }}...
                  </button>
                </td>
                <td class="text-center numero">{{ item.qt_itens_contrato }} {{ item.itensLicitacaoItensContrato.sg_unidade_medida }}</td>
                <td class="text-center numero">
                  {{ item.vl_item_contrato | currency: "R$" }}
                </td>
                <td class="text-center numero">
                  <span *ngIf="item.vl_item_contrato - item.mediana_valor === 0">--</span>
                  <span *ngIf="item.vl_item_contrato - item.mediana_valor < 0" class="positivo">
                    {{ item.vl_item_contrato - item.mediana_valor | currency: "R$" }}
                  </span>
                  <span *ngIf="item.vl_item_contrato - item.mediana_valor > 0" class="negativo">
                    +{{ item.vl_item_contrato - item.mediana_valor | currency: "R$" }}
                  </span>
                </td>
                <td class="text-center numero">
                  <span *ngIf="item.vl_item_contrato - item.itensLicitacaoItensContrato.vl_unitario_estimado === 0">--</span>
                  <span
                    *ngIf="item.vl_item_contrato - item.itensLicitacaoItensContrato.vl_unitario_estimado < 0"
                    class="positivo">
                    {{  (item.vl_item_contrato - item.itensLicitacaoItensContrato.vl_unitario_estimado)  | currency: "R$" }}
                  </span>
                  <span
                    *ngIf="item.vl_item_contrato - item.itensLicitacaoItensContrato.vl_unitario_estimado > 0"
                    class="negativo">
                    {{ (item.vl_item_contrato - item.itensLicitacaoItensContrato.vl_unitario_estimado)  | currency: "+R$" }}
                  </span>

                </td>
                <td class="text-center numero">
                  <span *ngIf="item.vl_item_contrato - item.itensLicitacaoItensContrato.vl_unitario_estimado === 0">--</span>
                  <span
                    *ngIf="item.vl_item_contrato - item.itensLicitacaoItensContrato.vl_unitario_estimado < 0"
                    class="positivo">
                    {{ item.qt_itens_contrato * (item.vl_item_contrato - item.itensLicitacaoItensContrato.vl_unitario_estimado)  | currency: "R$" }}
                  </span>
                  <span
                    *ngIf="item.vl_item_contrato - item.itensLicitacaoItensContrato.vl_unitario_estimado > 0"
                    class="negativo">
                    {{ item.qt_itens_contrato * (item.vl_item_contrato - item.itensLicitacaoItensContrato.vl_unitario_estimado)  | currency: "+R$" }}
                  </span>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>

<ng-template
  #content
  let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Descrição completa</h5>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Fechar"
      (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">{{ descricao }}</div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close('Fechar')">
      Fechar
    </button>
  </div>
</ng-template>
