@import url("https://fonts.googleapis.com/css?family=Work+Sans:500,700|Fredoka+One|Roboto+Mono&display=swap");

@import "../node_modules/bootstrap/scss/functions";
@import "assets/bootstrap/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "assets/bootstrap/overhide";
@import "assets/styles/fonts";

html,
body {
  background-color: $gray;
}

.dropdown-menu {
  @media (max-width: 360px) {
    max-width: 290px;
  }
}

.view-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.card-text {
  padding: 0;
  margin: 0;
}

.titulo-sessao {
  margin-bottom: 1.5rem;
}

.btn-corner {
  border-radius: 0;
  border-bottom-right-radius: $border-radius;
}

.card-callout {
  border-top: solid 0.25rem;

  &.border-callout-success,
  &.border-callout-contratacao {
    border-top-color: $success;
  }

  &.border-callout-warning {
    border-top-color: $warning;
  }

  &.border-callout-danger {
    border-top-color: $danger;
  }

  &.border-callout-pagamento {
    border-top-color: $blue;
  }
}

.text-contratacao {
  color: $success;
}

.text-pagamento {
  color: $blue;
}

.text-disabled {
  color: $gray-500;
}

.btn-disabled,
.btn-disabled:hover {
  color: $gray-500;
}

.icon-md {
  font-size: 1.5rem;
}

.dados-grupo {
  margin-bottom: 1rem;
}

.numero {
  font-family: "Roboto Mono", monospace;
  white-space: nowrap;
}

td.numero {
  text-align: right;
}

.table-th-monospace {
  width: 120px;
  font-weight: normal;
  font-size: 0.9rem;
}

.accordion {
  > .card {
    > .card-header {
      > .btn-link {
        color: $yiq-text-dark;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1.1rem;
        text-align: left;
      }
    }
  }
}

.toggle-wrapper {
  display: flex;
}

.toggle-wrapper-right {
  justify-content: flex-end;
}

.toggle {
  display: none;
  &,
  &:after,
  &:before,
  & *,
  & *:after,
  & *:before,
  & + .toggle-btn {
    box-sizing: border-box;
    &::selection {
      background: none;
    }
  }

  + .toggle-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    user-select: none;
    &:after,
    &:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
    }

    &:after {
      left: 0;
    }

    &:before {
      display: none;
    }
  }

  &:checked + .toggle-btn:after {
    left: 50%;
  }
}

.toggle-flat {
  + .toggle-btn {
    padding: 2px;
    transition: all 0.2s ease;
    background: #fff;
    border: 4px solid $primary;
    border-radius: 0.8rem;
    &:after {
      transition: all 0.2s ease;
      background: $primary;
      content: "";
      border-radius: 0.8rem;
    }
  }

  &:checked + .toggle-btn {
    border: 4px solid $primary;
    &:after {
      left: 50%;
      background: $primary;
    }
  }
}

.toggle-label {
  display: inline-block;
  padding: 4px 8px;
}
