@import url("https://fonts.googleapis.com/css?family=Work+Sans:500,700|Fredoka+One|Roboto+Mono&display=swap");

@import "../node_modules/bootstrap/scss/functions";
@import "assets/bootstrap/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "assets/bootstrap/overhide";
@import "assets/styles/fonts";

html,
body {
  padding-top: 24px;
  @media (min-width: 576px) {
    padding-top: 28px;
  }
}

.dropdown-menu {
  @media (max-width: 360px) {
    max-width: 290px;
  }
}

.view-container {
  padding-bottom: 2rem;
  background-color: $white;
}

.card-text {
  padding: 0;
  margin: 0;
}

.titulo-sessao {
  margin-bottom: 1.5rem;
}

.sessao-texto {
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 728px;
  padding: 2rem;
  border-radius: 1.2rem;

  > h2 {
    margin-bottom: 1.5rem;
  }
}

.sessao-light {
  background-color: $white;
}

.sessao-dark {
  background-color: $teal;
}

a.link-light:link,
a.link-light:visited {
  color: $white;
}

.btn-corner {
  border-radius: 0;
  border-bottom-right-radius: $border-radius;
}

.card-callout {
  border-top: solid 0.25rem;

  &.border-callout-success,
  &.border-callout-contratacao {
    border-top-color: $success;
  }

  &.border-callout-warning {
    border-top-color: $warning;
  }

  &.border-callout-danger {
    border-top-color: $danger;
  }

  &.border-callout-pagamento {
    border-top-color: $blue;
  }
}

.card-alert {
  border-left: solid 0.25rem;

  &:hover {
    cursor: pointer;
    left: -1px;
  }
}

.card-alert-disabled {
  cursor: default;
  color: rgb(150, 150, 150) !important;
  background: rgba(245, 245, 245, 0.185);
}

.cor-alerta-abertura-empresa:before {
  background: $warning;
}

.cor-alerta-item-atipico:before {
  background: #90448e;
}

.cor-borda-esquerda-abertura-empresa {
  border-left-color: $warning !important;
}

.cor-borda-esquerda-item-atipico {
  border-left-color: #90448e !important;
}

.cor-borda-inferior-abertura-empresa {
  border-bottom-color: $warning !important;
}

.cor-borda-inferior-item-atipico {
  border-bottom-color: #90448e !important;
}

.text-contratacao {
  color: $success;
}

.text-pagamento {
  color: $blue;
}

.text-disabled {
  color: $gray-500;
}

.btn-disabled,
.btn-disabled:hover {
  color: $gray-500;
}

.icon-md {
  font-size: 1.5rem;
}

.dados-grupo {
  margin-bottom: 1rem;
}

.numero {
  font-family: "Roboto Mono", monospace;
  white-space: nowrap;
}

td.numero {
  text-align: right;
}

.table-th-monospace {
  width: 120px;
  font-weight: normal;
  font-size: 0.9rem;
}

.table-th-monospace-md {
  width: 300px;
  font-weight: normal;
  font-size: 0.9rem;
}

.accordion {
  > .card {
    > .card-header {
      > .btn-link {
        color: $yiq-text-dark;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1.1rem;
        text-align: left;
        background-color: #fff;
        border-color: #fff;
      }
    }
  }
}

.btn-link {
  border-color: #fff !important;
  background-color: #fff !important;
}

.toggle-wrapper {
  display: flex;
}

.toggle-wrapper-right {
  justify-content: flex-end;
}

.toggle {
  display: none;
  &,
  &:after,
  &:before,
  & *,
  & *:after,
  & *:before,
  & + .toggle-btn {
    box-sizing: border-box;
    &::selection {
      background: none;
    }
  }

  + .toggle-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    user-select: none;
    &:after,
    &:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
    }

    &:after {
      left: 0;
    }

    &:before {
      display: none;
    }
  }

  &:checked + .toggle-btn:after {
    left: 50%;
  }
}

.toggle-flat {
  + .toggle-btn {
    padding: 2px;
    transition: all 0.2s ease;
    background: #fff;
    border: 4px solid $primary;
    border-radius: 0.8rem;
    &:after {
      transition: all 0.2s ease;
      background: $primary;
      content: "";
      border-radius: 0.8rem;
    }
  }

  &:checked + .toggle-btn {
    border: 4px solid $primary;
    &:after {
      left: 50%;
      background: $primary;
    }
  }
}

.toggle-label {
  display: inline-block;
  padding: 4px 8px;
}

.table-wrapper {
  background-color: #ffffff;
  border: solid 2px $gray-400;
  border-radius: 10px;
  padding: 1rem;
}

.navegacao {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  border-radius: 0.75rem;

  @media (min-width: 576px) {
    position: relative;
    bottom: auto;
    left: auto;
    z-index: auto;
    width: auto;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border-top: none;
  }
}
.nav-fill {
  @media (min-width: 1000px) {
    max-width: 50%;
  }
}
.nav-item{
  z-index: 100;
}
.navegacao-link {
  background: #f2f7f3;
  border-radius: 0.75rem 0.75rem 0 0 !important;
  border-width: 1px;

  border-bottom-style: solid;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  color: $dark;
  border-color: #ced4da;
  border-bottom-color: #ced4da;
  z-index: 1000;

  &.active {
    background: $white;
    color: $dark;
    border-bottom-color: $white;

    &:hover{
      font-weight: bold;
    }

    @media (max-width: 575.98px) {
      margin-top: -8px;
      padding-bottom: 16px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &:hover{
    color: $dark;
    font-weight: bold;
  }
}

.borda-navegacao {
  background: #e6e6e6;
  position: relative;
  margin-top: -41px;
  z-index: 1;
  margin-bottom: 41px;
}

.icone-navegacao {
  position: relative;
  top: 2px;
}

.table th {
  border-top: none;
}

.th-espacoso {
  min-width: 180px;
}

.th-medio {
  min-width: 120px;
}

.th-pequeno {
  width: 100px;
}

th[ordenavel] {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

th[ordenavel].asc:before,
th[ordenavel].desc:before {
  font-family: "icomoon" !important;
  display: inline;

  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

th[ordenavel].desc:before {
  content: "\e915";
}

th[ordenavel].asc:before {
  content: "\e919";
}

.hidden-app {
  display: none;
}

@media print {
  /**
  *  Use these for toggling content for print.
  **/
  .visible-print {
    display: block !important;
  }

  .hidden-print {
    display: none !important;
  }

  .navbar {
    position: absolute;
    top: 0;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact;
  }

  td {
    color: black !important;
  }
}

.badge-prod-atipico {
  background: #90448e;
}

.app-seletor {
  height: calc(1.5em + .75rem + 4px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #ced4da;
  border-radius: .75rem;
}
