@import url('https://fonts.googleapis.com/css?family=Work+Sans:500,700|Fredoka+One&display=swap');
@import "../node_modules/bootstrap/scss/functions";
@import "assets/bootstrap/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "assets/bootstrap/overhide";

html,
body {
  background-color: $gray;
}

.view-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.card-text {
  padding: 0;
  margin: 0;
}

.btn-corner {
  border-radius: 0;
  border-bottom-right-radius: $border-radius;
}
