.view-title-wrapper {
  position: sticky;
  top: 48px;
  z-index: 999;
  background-color: #F2D7D5;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: 576px) {
    padding-top: 1rem;
    padding-bottom: 1rem;
    top: 56px;
  }
}

.view-title {
  font-size: 1.2rem;
  margin-bottom: 0;
  color: #7D1611;
  @media (min-width: 576px) {
    font-size: 1.9rem;
  }
}

.view-subtitle {
  font-size: 0.8rem;
}
