<div class="view-title-wrapper">
  <div class="container">
    <h2 class="view-title">
      <a
        [routerLink]
        (click)="voltar()"
        [hidden]="!exibirVoltar"
        class="mr-1 view-group-title">
        <span class="small icon-arrow-left"></span>
      </a>
      <span class="view-group-title">{{ titulo }}</span>
      <app-tooltip-ajuda
        *ngIf="exibirTooltip"
        [posicao]="'bottom'"
        [descricao]=[textoTooltip]></app-tooltip-ajuda>
    </h2>
    <span class="view-subtitle">{{ subtitulo }}</span>
  </div>
</div>
