<div class="view-container">
    <app-barra-titulo
      [titulo]="'Resultados para &#34;' + termo + '&#34;'"
      [exibirVoltar]="false"></app-barra-titulo>
  
    <div class="container mt-4">
      <app-spinner *ngIf="loading$ | async"></app-spinner>
      <div *ngIf="(loading$ | async) === false">
        <app-lista-contratos
          *ngIf="((contratos$ | async)?.length > 0) && (loading$ | async) === false"
          [contratos$]="contratos$"></app-lista-contratos>
      </div>
    </div>
  
  </div>
  