<h4 class="my-4 d-block d-sm-none">Resumo</h4>
<div
  class="licitacoes-info"
  [hidden]="!licitacao">

  <app-spinner *ngIf="isLoading"></app-spinner>

  <div class="mb-4">
    <div class="row mt-4">
      <div class="col">
        <span
          class="badge"
          [ngClass]="licitacao?.status === 'Com contratos' ? 'badge-danger' : 'badge-info'">
          {{ licitacao?.status }}
        </span>
        <div
          *ngIf="licitacao?.assunto !== 'merenda'"
          class="mt-2">
          <ngb-alert [dismissible]="false">
            <strong>Atenção</strong>: não temos certeza se essa licitação envolve alimentação escolar. É preciso checar no edital ou no portal de transparência do município.
          </ngb-alert>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div
        class="col-sm-6 col-md-3 col-lg-2 mb-4"
        [hidden]="licitacao?.qt_contratos === 0">
        <div class="dados-linha">
          <strong>Valor contratado</strong>
        </div>
        <div class="dados-linha">
          {{ licitacao?.vl_contratado | currency: "R$" }}
        </div>
      </div>
      <div
        class="col-sm-6 col-md-3 col-lg-2 mb-4"
        [hidden]="licitacao?.qt_contratos === 0">
        <div class="dados-linha">
          <strong>Compras</strong>
        </div>
        <div class="dados-linha">{{ licitacao?.qt_contratos }}</div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-4 mb-4">
        <div class="dados-linha">
          <strong>Tipo</strong>
        </div>
        <div class="dados-linha">
          {{ licitacao?.cd_tipo_modalidade}} - {{ licitacao?.tipo_modalidade_licitacao | initialcase }}
        </div>
      </div>
      <div class="col-12 mb-4">
        <div class="dados-linha">
          <strong>Objeto da licitação</strong>
          <app-tooltip-ajuda
            [posicao]="'right'"
            [descricao]="'Os dados da licitação foram informados pelo município para o TCE'"></app-tooltip-ajuda>
        </div>
        <div class="dados-linha">
          {{ licitacao?.descricao_objeto | initialcase }}
        </div>
      </div>
    </div>

  </div>
  <div
    class="mb-4"
    *ngIf="licitacao?.docsLicitacao.length">
    <h4 class="titulo-sessao">
      Editais
      <app-tooltip-ajuda
        [posicao]="'right'"
        [descricao]="'Os editais foram informados pelo município ao TCE'"></app-tooltip-ajuda>
    </h4>

    <ul>
      <li *ngFor="let doc of licitacao?.docsLicitacao">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="{{doc?.arquivo_url_download}}">
          {{ doc?.nome_arquivo_documento }}
        </a>
      </li>
    </ul>
  </div>
  <app-timeline [timeline]="timeline"></app-timeline>
</div>
