<div
  class="licitacoes-info"
  [hidden]="!licitacao">

  <app-spinner *ngIf="isLoading"></app-spinner>

  <div class="mb-4">
    <div [hidden]="licitacao.data_homologacao" class="row mt-4">
      <div class="col">
        <span class="badge badge-info">Licitação aberta</span>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-6 col-md-3 col-lg-2 mb-4">
        <div class="dados-linha">
          <strong>Valor homologado</strong>
        </div>
        <div class="dados-linha">
          <span [hidden]="!licitacao?.vl_homologado">
            {{ licitacao?.vl_homologado | currency: "R$" }}
          </span>
          <span [hidden]="licitacao?.vl_homologado">--</span>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-4 mb-4">
        <div class="dados-linha">
          <strong>Tipo</strong>
        </div>
        <div class="dados-linha">
          {{ licitacao?.cd_tipo_modalidade}} - {{ licitacao?.tipo_modalidade_licitacao | initialcase }}
        </div>
      </div>
      <div class="col-12">
        <div class="dados-linha">
          <strong>Objeto da licitação</strong>
        </div>
        <div class="dados-linha">
          {{ licitacao?.descricao_objeto | initialcase }}
        </div>
        <div
          *ngIf="!licitacao?.merenda"
          class="dados-linha text-muted ml-3">
          <strong>Atenção!</strong>
          Não temos certeza se essa licitação inclui merenda. É necessário checar no Licitacon.
        </div>
      </div>
    </div>

  </div>

  <app-fornecedores-info [idLicitacao]="licitacao?.id_licitacao"></app-fornecedores-info>
  <app-timeline [timeline]="timeline"></app-timeline>
</div>
