hr {
    max-width: 100%;
    position: relative;
    padding: 0px;
    margin: 0px;
}

::ng-deep.dropdown-menu.show {
  min-width: 100%;
  overflow-y: auto;
}

input,
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
label:focus
{
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    min-width: 21rem;
}
