<ng-template
  #rt
  let-r="result"
  let-t="term">
  <span
    *ngIf="r?.tipoBusca=='COMPRA' || r?.tipoBusca=='ITEM'"
    class="icon-search mr-1"></span>
  <span *ngIf="r?.tipoBusca=='COMPRA'">
    Buscar
    <strong>compras</strong>
    com o termo "</span>

  <span
    *ngIf="r?.tipoBusca=='MUNICIPIO'"
    class="icon-office mr-2"></span>

    <span
    *ngIf="r?.tipoBusca=='ESTADO'"
    class="icon-building mr-2"></span>

    <span *ngIf="r?.tipoBusca=='ITEM'">
      Buscar
      <strong>itens</strong>
      com o termo "</span>

  <ngb-highlight
    class="custom-description"
    [result]="r?.descricao"
    [term]="t">
  </ngb-highlight>
    <span *ngIf="r?.tipoBusca=='MUNICIPIO'">–RS</span>
  <span *ngIf="r?.tipoBusca=='COMPRA' || r?.tipoBusca=='ITEM'">"</span>
  <hr *ngIf="r?.tipoBusca=='ITEM'">
</ng-template>

<input
  id="typeahead-focus"
  [(ngModel)]="buscavelSelecionado"
  type="text"
  class="form-control"
  [ngbTypeahead]="search"
  [inputFormatter]="formatter"
  [resultFormatter]="formatter"
  [editable]='false'
  [resultTemplate]="rt"
  placeholder="{{placeholder}}"
  (selectItem)="salvarBuscavel($event.item)"
  (keyup.enter)="buscaOnEnter()">
