.licitacoes-detalhar-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: #f2f7f3;

  @media (min-width: 576px) {
    position: relative;
    bottom: auto;
    left: auto;
    z-index: auto;
    width: auto;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
  }
}
