<div class="licitacoes-detalhar-nav">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['./info']"
        routerLinkActive="active">
        Detalhes
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['./itens']"
        routerLinkActive="active">
        Itens
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['./contratos']"
        routerLinkActive="active">
        Contratos
      </a>
    </li>
  </ul>
</div>
