<div class="navegacao">
  <ul class="nav nav-fill nav-fill-sm">
    <li class="nav-item">
      <a
        class="nav-link navegacao-link"
        [routerLink]="['./info']"
        routerLinkActive="active"
        replaceUrl="true">
        <span class="icon-hammer icone-navegacao"></span>
        Resumo
      </a>
    </li>
    <li class="nav-item" *ngIf="temContrato">
      <a
        class="nav-link navegacao-link"
        [routerLink]="['./contratos']"
        routerLinkActive="active"
        replaceUrl="true">
        <span class="icon-file-text icone-navegacao"></span>
        Contratos
      </a>
    </li>
    <li class="nav-item" *ngIf="!temContrato">
      <a
        class="nav-link navegacao-link"
        [routerLink]="['./itens']"
        routerLinkActive="active"
        replaceUrl="true">
        <span class="icon-file-text icon-shopping-cart"></span>
        Itens comprados
      </a>
    </li>
  </ul>
</div>
<hr class="borda-navegacao">
