.timeline {
  width: 100%;
  position: relative;
  padding: 1.5rem 0 1rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 7px;
    height: 100%;
    width: 4px;
    background: #212529;
    border-radius: 0.25rem;
  }
}

.timeline-event {
  position: relative;
  margin-bottom: 0.5rem;
}

.timeline-event-title {
  display: flex;
}

.timeline-content {
  position: relative;
  margin-left: 40px;
}

.timeline-marker {
  font-size: 1.5rem;
  float: left;
}

.timeline-marker-icon {
  width: 16px;
  height: 16px;
  display: block;
  border-radius: 8px;
  margin-top: 2px;
  margin-right: 10px;
  margin-left: 1px;
  background-color: #212529;

  &::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 5px;
    margin-left: 4px;
    background: #f2f7f3;
  }
}
