<h4 class="my-4 d-block d-sm-none">Licitações</h4>

<form *ngIf="(loading$ | async) === false">
  <div class="form-group">
    <input
      class="form-control"
      type="text"
      placeholder="Buscar nas licitações..."
      name="termoBusca"
      [(ngModel)]="listaService.termoBusca" />
  </div>
</form>

<p *ngIf="((listaService.dadosProcessados$ | async)?.length === 0) && (loading$ | async) === false">
  Não há licitações.
</p>

<app-spinner *ngIf="loading$ | async"></app-spinner>

<div class="table-responsive">
  <table
    class="table table-hover"
    *ngIf="((listaService.dadosProcessados$ | async)?.length > 0) && (loading$ | async) === false">
    <thead>
      <tr>
        <th scope="col"
        ordenavel="descricao_objeto"
        (ordenar)="onOrdenar($event)"
        appOrdenavel>Objeto da licitação</th>
        <th
          scope="col"
          class="text-center"
          ordenavel="data_abertura"
          (ordenar)="onOrdenar($event)"
          appOrdenavel>
          Data de publicação
        </th>
        <th
          scope="col"
          ordenavel="status"
          (ordenar)="onOrdenar($event)"
          appOrdenavel>
        Status
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let licitacao of listaService.dadosProcessados$ | async; index as i">
        <td>
          <a [routerLink]="['/licitacoes/' + licitacao.id_licitacao + '/info']">
            <ngb-highlight [result]="licitacao.descricao_objeto | initialcase" [term]="listaService.termoBusca"></ngb-highlight>
          </a>
        </td>
        <td class="text-center text-nowrap">
          {{ licitacao.data_abertura | date:'LLL/y' }}
        </td>
        <td class="text-center">
          <span
            *ngIf="licitacao.status === 'Aberta'; else licitacaoEncerrada"
            class="badge badge-info">
            Aberta
          </span>
          <ng-template #licitacaoEncerrada>
            <span
              class="badge badge-danger">
              Encerrada
            </span>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>
