<h4 class="mb-4 d-block d-sm-none">Licitações</h4>

<p [hidden]="licitacoesAbertas?.length > 0 || isLoading">
  Não há licitações abertas neste momento.
</p>

<app-spinner *ngIf="isLoading"></app-spinner>

<div class="table-responsive">
  <table
    class="table table-hover"
    [hidden]="licitacoesAbertas?.length == 0 || isLoading">
    <thead>
      <tr>
        <th scope="col">Objeto da licitação</th>
        <th
          scope="col"
          class="text-center">
          Data de abertura
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let licitacao of licitacoesAbertas">
        <td>
          <a [routerLink]="['/licitacoes/' + licitacao.id_licitacao + '/info']">
            {{ licitacao.descricao_objeto | initialcase }}
          </a>
        </td>
        <td class="text-center text-nowrap">
          {{ licitacao.data_abertura | date: "dd-MM-yyyy" }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
