<div class="tooltip-wrapper">
  <span
    *ngIf="tipo === 'ajuda'"
    class="tooltip-base tooltip-help"
    placement="{{ posicao }}"
    ngbTooltip="{{ descricao }}">
    ?
  </span>
  <span
    *ngIf="tipo === 'alerta'"
    class="tooltip-base tooltip-warning icon-alert-triangle"
    placement="{{ posicao }}"
    ngbTooltip="{{ descricao }}">
  </span>

  <span
    *ngIf="tipo === 'info'"
    class="tooltip-base tooltip-warning icon-info"
    placement="{{ posicao }}"
    ngbTooltip="{{ descricao }}">
  </span>

</div>
