.tooltip-wrapper {
  display: inline-block;
}

.tooltip-base {
  border-radius: 100%;
  color: white;
  cursor: pointer;
}

.tooltip-help {
  background-color: #6c757d;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 4px;
  margin-right: 4px;
  font-size: .8rem;
}

.tooltip-warning {
  color: #adb5bd!important;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 1px;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 1.1rem;
  top: 1px;
  position: relative;
}
