<div class="view-container">
  <div class="container mt-4">

    <h6 class="mb-4">
      {{ (listaService.dados$ | async)?.length }} resultados encontrados
    </h6>

    <div class="row">
      <div class="col-lg-6">
        <form>
          <div class="form-group">
            <input
              class="form-control"
              type="text"
              placeholder="Filtrar nos fornecedores..."
              name="termoBusca"
              [(ngModel)]="listaService.termoBusca">
          </div>
        </form>
      </div>
    </div>

    <p *ngIf="((listaService.dados$ | async)?.length === 0) && (loading$ | async) === false">Não há fornecedores com este termo. Experimente pesquisar em
      <a
        [routerLink]="['/busca/municipio']"
        queryParamsHandling="merge"
        routerLinkActive="active">
        Municípios,
      </a>
      <a
        [routerLink]="['/busca/produto']"
        queryParamsHandling="merge"
        routerLinkActive="active">
        Produtos
      </a>
      ou
      <a
        [routerLink]="['/busca/contrato']"
        queryParamsHandling="merge"
        routerLinkActive="active">
        Contratos.
      </a>
    </p>
    <app-spinner *ngIf="loading$ | async"></app-spinner>
    <div *ngIf="(loading$ | async) === false">
      <div
        *ngIf="((listaService.dados$ | async)?.length > 0) && (loading$ | async) === false"
        class="table-wrapper">
        <div class="table-responsive">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th
                  scope="col"
                  class="table-th-dividido-up"
                  ordenavel="nm_pessoa"
                  (ordenar)="onOrdenar($event)"
                  appOrdenavel>
                  Fornecedor
                </th>
                <th
                  scope="col"
                  class="text-right table-th-dividido-up"
                  ordenavel="total_de_contratos"
                  (ordenar)="onOrdenar($event)"
                  appOrdenavel>
                  Total de Contratos
                </th>
                <th
                  scope="col"
                  class="text-right table-th-dividido-up"
                  ordenavel="data_primeiro_contrato"
                  (ordenar)="onOrdenar($event)"
                  appOrdenavel>
                  Primeiro contrato
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let fornecedor of listaService.dadosProcessados$ | async; index as i"
                class>
                <td class="align-middle nowrap">
                  <a [routerLink]="['/fornecedores/' + fornecedor?.nr_documento]">
                    <ngb-highlight
                      [result]="fornecedor?.nm_pessoa ? fornecedor?.nm_pessoa : 'Pessoa física (nome não divulgado)' | titlecase"
                      [term]="listaService.termoBusca">
                    </ngb-highlight>
                  </a>
                  <br>
                  <small>
                    <ngb-highlight
                      [result]="fornecedor?.nr_documento | formatCpfCnpj"
                      [term]="listaService.termoBusca">
                    </ngb-highlight>
                  </small>
                </td>
                <td class="align-middle text-right">{{ fornecedor?.total_de_contratos }}</td>
                <td class="align-middle text-right">
                  {{ fornecedor?.data_primeiro_contrato | date:'dd/MM/y' }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
