<div class="busca-municipio">
  <div class="container">
    <button
      class="btn btn-sm btn-info"
      (click)="toggleShow()">
      <span class="icon-search"></span> Buscar município
    </button>
  </div>
  <div
    class="container mt-2"
    [hidden]="!show">
    <div class="input-group">
      <input
        id="typeahead-focus"
        type="text"
        class="form-control"
        placeholder="{{placeholder}}"
        [(ngModel)]="municipioSelecionado"
        [ngbTypeahead]="search"
        (focus)="focus$.next($event.target.value)"
        (click)="click$.next($event.target.value)"
        [editable]="false"
        (selectItem)="salvarMunicipio($event.item)"
        #instance="ngbTypeahead">
    </div>
  </div>
</div>
