<nav class="navbar navbar-expand-lg navbar-dark hidden-print fixed-top bg-dark">
  <div class="container">
    <a
      class="navbar-brand brand"
      href="#"
      routerLink="/">
      TÁ DE PÉ &#9474;
      <span i18n="site header" class="site-header">Merenda</span>&nbsp;<small>beta</small>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()">
      <span class="icon-menu"></span>
    </button>
    <div
      id="navbarNav"
      class="collapse navbar-collapse"
      [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav ml-auto">
        <li [hidden]="isURLHome">
          <div class="input-group">
            <app-input-busca-geral
              class="inp-expandido"
              (buscavelSelecionadoEvent)="reciverSelecionado($event)"
              [directSearch]="true">
            </app-input-busca-geral>
            <div class="input-group-append">
              <span class="input-group-text input-group-text-app">
                <span class="icon-search icon-search-home text-secondary"></span>
              </span>
            </div>
          </div>
        </li>
        <li class="nav-item active">
          <a
            class="nav-link"
            href="#"
            routerLink="/sobre"
            (click)="toggleNavbar()">
            Sobre
          </a>
        </li>
        <li class="nav-item active">
          <a
            class="nav-link"
            href="#"
            routerLink="/duvidas"
            (click)="toggleNavbar()">
            Dúvidas
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="navbar navbar-expand-lg navbar-dark hidden-app visible-print bg-dark">
  <div class="container">
    <a
      class="navbar-brand brand"
      href="#"
      routerLink="/">
      TÁ DE PÉ &#9474; MERENDA
      <small>beta</small>
    </a>
  </div>
</div>
