.busca-municipio {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #549b97;
  color: #fff;
  padding: 0.5rem;
  transition: opacity ease-in-out .5s;
  opacity: 1;
}

.hide-busca {
  opacity: 0;
}

::ng-deep.dropdown-menu.show {
  max-height: 70vh;
  overflow-y: auto;
}

.nome {
  display: inline-block;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
