<div class="busca-municipio">
  <div class="container">
    <div class="input-group">
      <input
        id="typeahead-focus"
        type="text"
        [ngClass]="{'form-control': true, 'input-hidden': municipioSelecionado}"
        placeholder="{{placeholder}}"
        [(ngModel)]="municipioSelecionado"
        [ngbTypeahead]="search"
        (focus)="focus$.next($event.target.value)"
        (click)="click$.next($event.target.value)"
        [editable]="false"
        (selectItem)="salvarMunicipio($event.item)"
        #instance="ngbTypeahead"
      />
    </div>
  </div>
</div>
