<div *ngIf="fornecedores?.length > 0">
  <h4 class="titulo-sessao">Fornecedores</h4>

  <div class="d-flex justify-content-center">
    <ngb-pagination
      [collectionSize]="fornecedores?.length"
      [(page)]="page"
      [pageSize]="pageSize"
      [hidden]="fornecedores?.length <= 20">
    </ngb-pagination>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Documento</th>
          <th scope="col" class="text-right">Valor contratado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of itensPaginate; index as i">
          <th scope="row">{{ getIndice(i) }}</th>
          <td>
            <span
              *ngIf="item.nm_pessoa">
              {{ item.nm_pessoa }}
            </span>
            <span
              *ngIf="!item.nm_pessoa">
              (Nome não encontrado)
            </span>
          </td>
          <td>{{ item.nr_documento | formatCpfCnpj }}</td>
          <td class="text-right numero">
            {{ item.total_contratado | currency: "R$" }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center">
    <ngb-pagination
      [collectionSize]="fornecedores?.length"
      [(page)]="page"
      [pageSize]="pageSize"
      [hidden]="fornecedores?.length <= 20">
    </ngb-pagination>
  </div>
</div>
<div *ngIf="fornecedores?.length === 0">
  Sem dados de fornecedores com contratos para esta licitação.
</div>
