<div class="filtro-wrapper mb-4">
  <div class="row gutters-sm">
    <div class="col-9">
      <input
        type="text"
        class="form-control"
        id="searchAlerta"
        placeholder="Filtrar município/orgão ou fornecedor"
        [(ngModel)]="nomePesquisado"
        (ngModelChange)="aplicarFiltro()">
    </div>
    <div class="col-3">
      <select
        class="form-control app-seletor"
        #mySelector
        [(ngModel)]="estadoSelecionado"
        (ngModelChange)="aplicarFiltro()">
        <option
          *ngFor="let e of estadoFiltro"
          [value]="e.estado_slug"
          [selected]="e.estado_slug == estadoSelecionado">
          {{ e.estado }}
        </option>
      </select>
    </div>
  </div>
</div>
