.contrato-corpo {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px;
}

.btn-item {
  white-space: nowrap;
}

.table-item-strong {
  font-weight: bold;
}

.head-controls {
  border: none;
}

.numero-destaque {
  font-size: 1.4rem;
}

.item-destaque-wrapper {
  max-width: 990px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-radius: 0.2rem;
  background-color: #f2f7f3;
}

.table-th-dividido {
  border-bottom: none;
}

.table-th-dividido-up {
  border-top: none
}

.nowrap {
  white-space: nowrap;
}

.custom-alert-card {
  padding: 0.1rem 1.25rem !important;
}

.custom-alert-text {
  margin-top: 0;
  margin-bottom: 0.4rem;
}

.mediana {
  cursor: pointer;
}