<div
  class="view-container"
  [hidden]="!contrato">

  <div *ngIf="contrato?.tipo_instrumento_contrato === 'Compra'">
    <app-barra-titulo
      [titulo]="'Compra sem número de contrato'"
      [subtitulo]="(contrato?.nm_orgao | uppercase) + ' - ' + contrato?.sigla_estado"
      [exibirVoltar]="true"
      [exibirTooltip]="contrato?.tipo_instrumento_contrato === 'Compra'"
      [textoTooltip]="'O  processo licitatório utilizado não produz um número de contrato.'"></app-barra-titulo>
  </div>
  <div *ngIf="contrato?.tipo_instrumento_contrato !== 'Compra'">
    <app-barra-titulo
      [titulo]="'Contrato nº ' + contrato?.nr_contrato + '/' + contrato?.ano_contrato"
      [subtitulo]="(contrato?.nm_orgao | uppercase) + ' - ' + contrato?.sigla_estado"
      [exibirVoltar]="true"></app-barra-titulo>
  </div>
  <div class="container">
    <div class="row mt-4">
      <div class="col-sm-12 col-md-3 mb-4">
        <div class="dados-linha">
          <strong>Licitação</strong>
        </div>
        <div class="dados-linha">
          <a [routerLink]="['/licitacoes/' + contrato?.id_licitacao + '/info/']">
            {{ contrato?.nr_licitacao }}/{{ contrato?.ano_licitacao }}
          </a>
        </div>
      </div>
      <div class="col-sm-12 col-md-9 mb-4">
        <div *ngIf="contrato?.nr_documento_contratado">
          <div class="dados-linha">
            <strong>Fornecedor</strong>
          </div>
          <div class="dados-linha">
            <a [routerLink]="['/fornecedores/' + contrato?.nr_documento_contratado]">
              {{ contrato?.contratoFornecedor?.nm_pessoa ? contrato?.contratoFornecedor?.nm_pessoa : 'Pessoa física (nome não divulgado)' }}
            </a>
            <br>
            ({{ contrato?.nr_documento_contratado | formatCpfCnpj }})
          </div>
        </div>
      </div>
      <div class="col-sm-12 mb-4">
        <div class="dados-linha">
          <strong>Objeto do contrato ou compra</strong>
          <app-tooltip-ajuda
            class="custom-tooltip"
            [posicao]="'right'"
            [descricao]="'Os dados do contrato foram informados pelo município para o TCE'"></app-tooltip-ajuda>
        </div>
        <div class="dados-linha">
          {{ contrato?.descricao_objeto_contrato | initialcase }}
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 mb-4">
        <div class="dados-linha">
          <strong>Vigência</strong>
        </div>
        <div class="dados-linha">
          {{ contrato?.dt_inicio_vigencia | date: "dd/MM/yyyy" }}
          <span *ngIf="contrato?.dt_final_vigencia">
            à {{ contrato?.dt_final_vigencia | date: "dd/MM/yyyy" }}
          </span>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 mb-4">
        <div class="dados-linha">
          <strong>Valor</strong>
        </div>
        <div class="dados-linha">
          {{ contrato?.vl_contrato | currency: "R$" }}
          <div
            *ngIf="contrato?.tipo_instrumento_contrato === 'Contrato'"
            class="mt-2">
            <app-progress
              [value]="contrato?.total_pago"
              [max]="contrato?.valor_contratado"
              [class]="'bg-info'"></app-progress>
            <span
              *ngIf="contrato?.valor_contratado > 0"
              class="text-contrato-progress">
              <small>
                {{ contrato?.total_pago / contrato?.valor_contratado | percent }} do valor contratado já foi pago.
              </small>
            </span>
          </div>
        </div>
      </div>
      <div
        *ngIf="contrato?.tipo_instrumento_contrato === 'Contrato'"
        class="col-sm-6 col-md-6 col-lg-6 mb-4">
        <div class="dados-linha">
          <strong>Diferença com estimado</strong>

          <app-tooltip-ajuda
            [posicao]="'top'"
            [descricao]="'Diferença em R$ entre o valor do contrato e o valor estimado na licitação'"></app-tooltip-ajuda>
        </div>
        <div class="dados-linha">
          <span *ngIf="contrato?.valor_contratado - contrato?.valor_estimado === 0">Sem diferença</span>
          <span *ngIf="contrato?.valor_contratado - contrato?.valor_estimado < 0">
            {{ contrato?.valor_contratado - contrato?.valor_estimado  | currency: "R$" }}
            <span class="text-muted">(mais barato)</span>
          </span>
          <span *ngIf="contrato?.valor_contratado - contrato?.valor_estimado > 0">
            {{ contrato?.valor_contratado - contrato?.valor_estimado  | currency: "+R$" }}
            <span class="text-muted">(mais caro)</span>
          </span>
        </div>
      </div>
    </div>

    <ngb-alert
      [dismissible]="false"
      *ngIf="contrato?.contratoAlerta?.id_tipo"
      class="container custom-alert-card">
      <p class="mt-2 custom-alert-text">
        <strong>Alerta gerado pela Malha Fina</strong>
        :
      </p>
      <div class="row mt-2 ml-1 mb-2">
        <div class="col-lg-12">
          <p
            *ngIf="contrato?.contratoAlerta?.id_tipo === 1"
            class="custom-alert-text">
            <span class="tooltip-base tooltip-warning icon-alert-triangle  mr-1"></span>
            O fornecedor foi contratado em menos de um mês após a abertura do CNPJ na Receita Federal.
          </p>
          <p
            *ngIf="contrato?.contratoAlerta?.id_tipo === 2"
            class="custom-alert-text">
            <span class="tooltip-base tooltip-warning icon-alert-triangle mr-1"></span>
            A empresa forneceu produtos que não são comuns com base em suas atividades econômicas declaradas na Receita Federal.
          </p>
          <p
            *ngIf="contrato?.contratoAlerta?.id_tipo === 3"
            class="custom-alert-text">
            <span class="tooltip-base tooltip-warning icon-alert-triangle mr-1"></span>
            {{ contrato?.contratoAlerta?.info}}
          </p>
        </div>
      </div>
    </ngb-alert>

    <app-spinner *ngIf="loading$ | async"></app-spinner>

    <div
      *ngIf="(loading$ | async) === false"
      class="table-wrapper">
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th class="head-controls">&nbsp;</th>
              <th
                class="head-controls text-right"
                colspan="6">
                <form [formGroup]="radioGroupForm">
                  <div class="toggle-wrapper toggle-wrapper-right">
                    <span class="toggle-label">Unidade</span>
                    <input
                      class="toggle toggle-flat"
                      id="cb4"
                      type="checkbox"
                      formControlName="showTotal"
                      [value]="true"
                      checked>
                    <label
                      class="toggle-btn"
                      for="cb4"></label>
                    <span class="toggle-label">Total</span>
                  </div>
                </form>
              </th>
            </tr>
            <tr>
              <th
                scope="col"
                class="text-left align-middle"
                ordenavel="ds_item"
                (ordenar)="onOrdenar($event)"
                appOrdenavel>
                Produto/serviço
              </th>
              <th
                scope="col"
                class="table-th-monospace text-right"
                *ngIf="!radioGroupForm.value['showTotal']"
                ordenavel="vl_item_contrato"
                (ordenar)="onOrdenar($event)"
                appOrdenavel>
                <span class="nowrap">Valor por</span>
                <br>
                unidade
                <br>
                (R$)
              </th>
              <th
                scope="col"
                class="table-th-monospace text-right"
                *ngIf="radioGroupForm.value['showTotal']"
                ordenavel="vl_total_item_contrato"
                (ordenar)="onOrdenar($event)"
                appOrdenavel>
                <span class="nowrap">Valor total</span>
                <br>
                (R$)
              </th>
              <th
                scope="col"
                class="table-th-monospace text-right"
                ordenavel="mediana_valor"
                (ordenar)="onOrdenar($event)"
                appOrdenavel>
                Mediana
                <br>
                <span class="nowrap">no estado</span>
                <br>
                (R$)
                <app-tooltip-ajuda [descricao]="'Mediana do preço de produtos similares contratados em municípios do estado seis meses antes ou depois da data do contrato'"></app-tooltip-ajuda>
              </th>
              <th
                scope="col"
                class="table-th-monospace text-right"
                ordenavel="percentual_vs_estado"
                direcao="desc"
                (ordenar)="onOrdenar($event)"
                appOrdenavel>
                Diferença
                <br>
                <span class="nowrap">com estado</span>
                <br>
                (%)
                <app-tooltip-ajuda [descricao]="'Diferença percentual entre o valor contratado e o valor mediano de produtos similares contratados em municípios do estado'"></app-tooltip-ajuda>
              </th>
              <th
                scope="col"
                class="table-th-monospace text-right"
                ordenavel="vl_unitario_estimado"
                (ordenar)="onOrdenar($event)"
                appOrdenavel>
                Valor
                <br>
                estimado
                <br>
                (R$)
                <app-tooltip-ajuda [descricao]="'Valor de referência obtido através de orçamentos feitos pelo ente público; uma previsão de quanto será gasto no contrato'"></app-tooltip-ajuda>
              </th>
              <th
                scope="col"
                class="table-th-monospace text-right"
                ordenavel="percentual_vs_estimado"
                (ordenar)="onOrdenar($event)"
                appOrdenavel>
                Diferença
                <br>
                <span class="nowrap">com estimado</span>
                <br>
                (%)
                <app-tooltip-ajuda
                  [posicao]="'left'"
                  [descricao]="'Diferença percentual entre o valor contratado e o valor estimado'"></app-tooltip-ajuda>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of listaService.dadosProcessados$ | async; index as i"
              class="table-item">
              <td class="align-middle descricao">
                <app-descricao-item
                  [item]="item"
                  [temLink]="item?.itensSemelhantes?.length > 1 && !item?.servico"></app-descricao-item>
              </td>

              <td
                class="numero align-middle"
                *ngIf="!radioGroupForm.value['showTotal']">
                {{ item.vl_item_contrato | currency:'':'' }}
              </td>
              <td
                class="numero align-middle"
                *ngIf="radioGroupForm.value['showTotal']">
                {{ item.vl_total_item_contrato | currency:'':'' }}
              </td>
              <td
                class="numero align-middle"
                *ngIf="!radioGroupForm.value['showTotal']"
                [title]="item.mediana_valor">
                <div
                  class="pr-3"
                  *ngIf="item?.itensSemelhantes?.length <= 1 || item?.servico; else mostraMedianaEstado">
                  <app-tooltip-ajuda
                    *ngIf="item?.itensSemelhantes?.length <= 1"
                    [tipo]="'info'"
                    [descricao]="'Não existem produtos no estado com descrição e quantidade semelhantes para comparação.'"></app-tooltip-ajuda>
                  <app-tooltip-ajuda
                    *ngIf="item?.servico"
                    [tipo]="'info'"
                    [descricao]="'Não realizamos comparações entre serviços, pois eles variam muito em descrição e especificação.'"></app-tooltip-ajuda>
                </div>
                <ng-template #mostraMedianaEstado>
                  {{ item.mediana_valor | currency:'':'' }}
                </ng-template>
              </td>
              <td
                class="numero align-middle"
                *ngIf="radioGroupForm.value['showTotal']"
                [title]="item.mediana_valor * item.qt_itens_contrato">
                <div
                  class="pr-3"
                  *ngIf="item?.itensSemelhantes?.length <= 1 || item?.servico; else mostraMedianaTotalEstado">
                  <app-tooltip-ajuda
                    *ngIf="item?.itensSemelhantes?.length <= 1"
                    [tipo]="'info'"
                    [descricao]="'Não existem produtos no estado com descrição e quantidade semelhantes para comparação.'"></app-tooltip-ajuda>
                  <app-tooltip-ajuda
                    *ngIf="item?.servico"
                    [tipo]="'info'"
                    [descricao]="'Não realizamos comparações entre serviços, pois eles variam muito em descrição e especificação.'"></app-tooltip-ajuda>
                </div>
                <ng-template #mostraMedianaTotalEstado>
                  {{ item.mediana_valor * item.qt_itens_contrato | currency:'':'' }}
                </ng-template>
              </td>
              <td
                class="numero align-middle"
                [style.background-color]="item?.itensSemelhantes?.length > 1 && !item?.servico ? defineCorFundo(item.percentual_vs_estado) : 'white'"
                [style.color]="defineCor(item.percentual_vs_estado)">
                <div
                  class="pr-3"
                  *ngIf="item?.itensSemelhantes?.length <= 1 || item?.servico; else mostraPercentualEstado">
                  <app-tooltip-ajuda
                    *ngIf="item?.itensSemelhantes?.length <= 1"
                    [tipo]="'info'"
                    [descricao]="'Não existem produtos no estado com descrição e quantidade semelhantes para comparação.'"></app-tooltip-ajuda>
                  <app-tooltip-ajuda
                    *ngIf="item?.servico"
                    [tipo]="'info'"
                    [descricao]="'Não realizamos comparações entre serviços, pois eles variam muito em descrição e especificação.'"></app-tooltip-ajuda>
                </div>
                <ng-template #mostraPercentualEstado>
                  <div
                    *ngIf="item?.itensSemelhantes?.length <= 3"
                    class='mediana'
                    placement="top"
                    ngbTooltip="A mediana foi calculada com base em poucos ({{ item?.itensSemelhantes?.length - 1 }}) produtos semelhantes">
                    <span *ngIf="item.percentual_vs_estado > 0">+</span>
                    {{ item.percentual_vs_estado | percent:'1.1' }}&nbsp;*
                  </div>
                  <div
                    *ngIf="item?.itensSemelhantes?.length > 3">
                    <span *ngIf="item.percentual_vs_estado > 0">+</span>
                    {{ item.percentual_vs_estado | percent:'1.1' }}&nbsp;&nbsp;
                  </div>
                </ng-template>
              </td>
              <td
                class="numero align-middle"
                *ngIf="!radioGroupForm.value['showTotal']"
                [title]="item?.itensLicitacaoItensContrato?.vl_unitario_estimado">
                {{ item?.itensLicitacaoItensContrato?.vl_unitario_estimado | currency:'':'' }}
                <app-tooltip-ajuda
                  *ngIf="!item?.itensLicitacaoItensContrato?.vl_unitario_estimado"
                  [tipo]="'alerta'"
                  [descricao]="'O valor estimado não foi informado.'"></app-tooltip-ajuda>
              </td>
              <td
                class="numero align-middle"
                *ngIf="radioGroupForm.value['showTotal']"
                [title]="item?.itensLicitacaoItensContrato?.vl_unitario_estimado * item.qt_itens_contrato">
                <span *ngIf="item?.itensLicitacaoItensContrato?.vl_unitario_estimado">
                  {{ item.qt_itens_contrato * item?.itensLicitacaoItensContrato?.vl_unitario_estimado | currency:'':'' }}
                </span>
                <app-tooltip-ajuda
                  *ngIf="!item?.itensLicitacaoItensContrato?.vl_unitario_estimado"
                  [tipo]="'alerta'"
                  [descricao]="'O valor estimado não foi informado.'"></app-tooltip-ajuda>
              </td>
              <td
                class="numero align-middle"
                [title]="item?.itensLicitacaoItensContrato?.vl_unitario_estimado"
                [style.background-color]="defineCorFundo(item.percentual_vs_estimado)"
                [style.color]="defineCor(item.percentual_vs_estimado)">
                <span *ngIf="item.percentual_vs_estimado > 0">+</span>
                {{ item.percentual_vs_estimado | percent:'1.1' }}
                <app-tooltip-ajuda
                  *ngIf="!item?.itensLicitacaoItensContrato?.vl_unitario_estimado"
                  [tipo]="'alerta'"
                  [descricao]="'O valor estimado não foi informado.'"></app-tooltip-ajuda>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
