<div
  class="view-container"
  [hidden]="!contrato">

  <app-barra-titulo
    [titulo]="'Contrato ' + contrato?.nr_contrato + '/' + contrato?.ano_contrato"
    [subtitulo]="contrato?.nm_orgao"
    [exibirVoltar]="true"></app-barra-titulo>

  <div class="container">
    <app-spinner *ngIf="isLoading"></app-spinner>
    <div class="row mt-4">
      <div class="col-sm-12 col-md-3 mb-4">
        <div class="dados-linha">
          <strong>Licitação</strong>
        </div>
        <div class="dados-linha">
          <a [routerLink]="['/licitacoes/' + contrato?.id_licitacao + '/info/']">
            {{ contrato?.nr_licitacao }}/{{ contrato?.ano_licitacao }}
          </a>
        </div>
      </div>
      <div class="col-sm-12 col-md-9 mb-4">
        <div class="dados-linha">
          <strong>Fornecedor</strong>
        </div>
        <div class="dados-linha">
          {{ contrato?.contratoFornecedor.nm_pessoa }}
          <span class="text-muted">
            ({{ contrato?.nr_documento_contratado | formatCpfCnpj }})
          </span>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 mb-4">
        <div class="dados-linha">
          <strong>Vigência</strong>
        </div>
        <div class="dados-linha">
          {{ contrato?.dt_inicio_vigencia | date: "dd/MM/yyyy" }} à {{ contrato?.dt_final_vigencia | date: "dd/MM/yyyy" }}
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 mb-4">
        <div class="dados-linha">
          <strong>Valor</strong>
        </div>
        <div class="dados-linha">
          {{ contrato?.vl_contrato | currency: "R$" }}
          <div class="mt-2">
            <app-progress
              [value]="contrato?.total_pago"
              [max]="contrato?.valor_contratado"
              [class]="'bg-info'"></app-progress>
            <span
              *ngIf="contrato?.valor_contratado > 0"
              class="text-contrato-progress">
              <small>
                {{ contrato?.total_pago / contrato?.valor_contratado | percent }} do valor contratado já foi pago.
              </small>
            </span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 mb-4">
        <div class="dados-linha">
          <strong>Diferença com Estimado</strong>

          <app-tooltip-ajuda
            [posicao]="'top'"
            [descricao]="'Diferença em R$ entre o valor do contrato e o valor estimado na licitação'"></app-tooltip-ajuda>
        </div>
        <div class="dados-linha">
          <span *ngIf="contrato?.valor_contratado - contrato?.valor_estimado === 0">Sem diferença</span>
          <span *ngIf="contrato?.valor_contratado - contrato?.valor_estimado < 0">
            {{ contrato?.valor_contratado - contrato?.valor_estimado  | currency: "R$" }}
            <span class="text-muted">(mais barato)</span>
          </span>
          <span *ngIf="contrato?.valor_contratado - contrato?.valor_estimado > 0">
            {{ contrato?.valor_contratado - contrato?.valor_estimado  | currency: "+R$" }}
            <span class="text-muted">(mais caro)</span>
          </span>
        </div>
      </div>
    </div>

    <div class="table-wrapper">
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th class="head-controls">&nbsp;</th>
              <th
                class="head-controls text-right"
                colspan="6">
                <form [formGroup]="radioGroupForm">
                  <div class="toggle-wrapper toggle-wrapper-right">
                    <span class="toggle-label">Unidade</span>
                    <input
                      class="toggle toggle-flat"
                      id="cb4"
                      type="checkbox"
                      formControlName="showTotal"
                      [value]="true"
                      checked>
                    <label
                      class="toggle-btn"
                      for="cb4"></label>
                    <span class="toggle-label">Total</span>
                  </div>
                </form>
              </th>
            </tr>
            <tr>
              <th
                scope="col"
                class="text-left align-middle">
                Item
              </th>
              <th
                scope="col"
                class="table-th-monospace text-right"
                *ngIf="!radioGroupForm.value['showTotal']">
                <span class="nowrap">Valor por</span>
                <br>
                unidade
                <br>
                (R$)
              </th>
              <th
                scope="col"
                class="table-th-monospace text-right"
                *ngIf="radioGroupForm.value['showTotal']">
                <span class="nowrap">Valor total</span>
                <br>
                (R$)
              </th>
              <th
                scope="col"
                class="table-th-monospace text-right">
                Mediana
                <br>
                <span class="nowrap">no estado</span>
                <br>
                (R$)
                <app-tooltip-ajuda [descricao]="'Mediana do preço de produtos similares contratados em municípios do estado seis meses antes ou depois da data do contrato'"></app-tooltip-ajuda>
              </th>
              <th
                scope="col"
                class="table-th-monospace text-right">
                Diferença
                <br>
                <span class="nowrap">com estado</span>
                <br>
                (%)
                <app-tooltip-ajuda [descricao]="'Diferença percentual entre o valor contratado e o valor mediano de produtos similares contratados em municípios do estado'"></app-tooltip-ajuda>
              </th>
              <th
                scope="col"
                class="table-th-monospace text-right">
                Valor
                <br>
                estimado
                <br>
                (R$)
                <app-tooltip-ajuda [descricao]="'Valor de referência obtido através de orçamentos feitos pelo ente público; uma previsão de quanto será gasto no contrato'"></app-tooltip-ajuda>
              </th>
              <th
                scope="col"
                class="table-th-monospace text-right">
                Diferença
                <br>
                <span class="nowrap">com estimado</span>
                <br>
                (%)
                <app-tooltip-ajuda
                  [posicao]="'left'"
                  [descricao]="'Diferença percentual entre o valor contratado e o valor estimado'"></app-tooltip-ajuda>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of contrato?.itensContrato; index as i"
              class="table-item">
              <td class="align-middle descricao">
                <app-descricao-item
                  [item]="item"
                  [temLink]="item?.itensSemelhantes?.length > 3"></app-descricao-item>
              </td>
              <td
                class="numero align-middle"
                *ngIf="!radioGroupForm.value['showTotal']">
                {{ item.vl_item_contrato | currency:'':'' }}
              </td>
              <td
                class="numero align-middle"
                *ngIf="radioGroupForm.value['showTotal']">
                {{ item.vl_total_item_contrato | currency:'':'' }}
              </td>
              <td
                class="numero align-middle"
                *ngIf="!radioGroupForm.value['showTotal']"
                [title]="item.mediana_valor">
                {{ item.mediana_valor | currency:'':'' }}
              </td>
              <td
                class="numero align-middle"
                *ngIf="radioGroupForm.value['showTotal']"
                [title]="item.mediana_valor * item.qt_itens_contrato">
                {{ item.mediana_valor * item.qt_itens_contrato | currency:'':'' }}
              </td>
              <td
                class="numero align-middle"
                [title]="item.mediana_valor"
                [style.background-color]="item?.itensSemelhantes?.length > 3 ? defineCorFundo(item.percentual_vs_estado) : 'white'"
                [style.color]="defineCor(item.percentual_vs_estado)">
                <div
                  class="pr-3"
                  *ngIf="item?.itensSemelhantes?.length <= 3; else mostraPercentualEstado">
                  <app-tooltip-ajuda
                  [tipo]="'alerta'"
                  [descricao]="'Este valor não pôde ser calculado pois existem poucos produtos semelhantes em nossa base de dados.'"></app-tooltip-ajuda>
                </div>
                <ng-template #mostraPercentualEstado>
                  <span *ngIf="item.percentual_vs_estado > 0">+</span>{{ item.percentual_vs_estado | percent:'1.1' }}
                </ng-template>
              </td>
              <td
                class="numero align-middle"
                *ngIf="!radioGroupForm.value['showTotal']"
                [title]="item.itensLicitacaoItensContrato.vl_unitario_estimado">
                {{ item.itensLicitacaoItensContrato.vl_unitario_estimado | currency:'':'' }}
              </td>
              <td
                class="numero align-middle"
                *ngIf="radioGroupForm.value['showTotal']"
                [title]="item.itensLicitacaoItensContrato.vl_unitario_estimado * item.qt_itens_contrato">
                {{ item.qt_itens_contrato * item.itensLicitacaoItensContrato.vl_unitario_estimado | currency:'':'' }}
              </td>
              <td
                class="numero align-middle"
                [title]="item.itensLicitacaoItensContrato.vl_unitario_estimado"
                [style.background-color]="defineCorFundo(item.percentual_vs_estimado)"
                [style.color]="defineCor(item.percentual_vs_estimado)">
                <span *ngIf="item.percentual_vs_estimado > 0">+</span>{{ item.percentual_vs_estimado | percent:'1.1' }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
