<div class="view-container">
  <app-barra-titulo
    class="mb-5"
    *ngIf="municipioEscolhido"
    titulo="{{ municipioEscolhido | titlecase }} – {{ siglaEstadoEscolhido }}"
    [exibirVoltar]="false"></app-barra-titulo>

  <div class="container">

    <div class="navegacao">
      <ul class="nav nav-fill">
        <li class="nav-item">
          <a
            class="nav-link navegacao-link"
            [routerLink]="['./contratos']"
            routerLinkActive="active">
            <span class="icon-file-text icone-navegacao"></span>
            Compras
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link navegacao-link"
            [routerLink]="['./licitacoes']"
            routerLinkActive="active">
            <span class="icon-hammer icone-navegacao"></span>
            Licitações
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link navegacao-link"
            [routerLink]="['./linha-do-tempo']"
            routerLinkActive="active">
            <span class="icon-git-commit icone-navegacao"></span>
            Linha do Tempo
          </a>
        </li>
      </ul>
    </div>
    <hr class="borda-navegacao">

    <router-outlet></router-outlet>
  </div>

</div>
