<div class="view-container">
  <app-barra-titulo
    *ngIf="municipioEscolhido"
    titulo="{{ municipioEscolhido | titlecase }} – {{ siglaEstadoEscolhido }}"
    [exibirVoltar]="false"></app-barra-titulo>

  <div class="container">

    <div class="navegacao">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a
            class="nav-link navegacao-link"
            [routerLink]="['./contratos']"
            routerLinkActive="active">
            Compras
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link navegacao-link"
            [routerLink]="['./licitacoes']"
            routerLinkActive="active">
            Licitações
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link navegacao-link"
            [routerLink]="['./linha-do-tempo']"
            routerLinkActive="active">
            Linha do Tempo
          </a>
        </li>
      </ul>
    </div>

    <router-outlet></router-outlet>
  </div>

</div>
