<div class="view-container">
  <app-barra-titulo
    [titulo]="municipioEscolhido | titlecase"
    [exibirVoltar]="false"></app-barra-titulo>

  <div class="container">

    <div class="licitacoes-detalhar-nav">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['./contratos']"
            routerLinkActive="active">
            Contratos vigentes
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['./licitacoes']"
            routerLinkActive="active">
            Licitações
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['./linha-do-tempo']"
            routerLinkActive="active">
            Linha do Tempo
          </a>
        </li>
      </ul>
    </div>

    <router-outlet></router-outlet>
  </div>

</div>
