<ul class="unstyled centered">
  <li
    *ngFor="let alertaDisponivel of alertasDisponiveis; let i = index;"
    [ngClass]="getStyle(alertaDisponivel?.idAlerta)">
    <input
      class="menu-checkbox"
      [id]="alertaDisponivel.descricaoAlerta"
      type="checkbox"
      [checked]="alertaDisponivel.selected"
      (change)="changeTipoAlerta(alertaDisponivel, i)">
    <label
      class="menu-titulo"
      [ngClass]="getCheckboxStyle(alertaDisponivel?.idAlerta)"
      [for]="alertaDisponivel.descricaoAlerta">
      {{alertaDisponivel.tituloAlerta}}
    </label>
    <div class="mb-1">
      {{alertaDisponivel.descricaoAlerta}}
    </div>
  </li>
</ul>
