<div
  tabindex="0"
  role="link"
  class="card card-callout mb-2"
  (click)="handleClick()"
  [ngClass]="{
    'border-callout-licitacao': novidadeService.isLicitacao(novidade.id_tipo),
    'border-callout-empenho': novidadeService.isEmpenho(novidade.id_tipo),
    'border-callout-contrato': novidadeService.isContrato(novidade.id_tipo)
  }"
>
  <div class="card-body">
    <h6>
      {{ novidade.tipo.texto_evento }}
      <span *ngIf="showMunicipio">em {{ novidade.nome_municipio }}</span>
    </h6>
    <p class="card-text text-muted text-right">
      {{ novidade.data | date: "dd-MM-yyyy" }}
    </p>
  </div>
</div>
