<div
  tabindex="0"
  role="link"
  class="card card-callout mb-2"
  (click)="handleClick()"
  [ngClass]="{
    'border-callout-contratacao': novidadeService.isFaseContratacao(novidade.id_tipo),
    'border-callout-pagamento': novidadeService.isFasePagamento(novidade.id_tipo)
  }"
>
  <div class="card-body">
    <h6>
      {{ novidadeService.getTextoNovidade(novidade) }}
      <span *ngIf="showMunicipio">em {{ novidade.nome_municipio }}</span>
    </h6>
    <p class="card-text text-muted text-right">
      {{ novidade.data | date: "dd-MM-yyyy" }}
    </p>
  </div>
</div>
