<div class="card mb-2">
  <div class="card-body">
    <h6>
      Licitação {{ novidade.licitacaoNovidade.nr_licitacao }}/<small>{{ novidade.licitacaoNovidade.ano_licitacao }}</small>
    </h6>
    <p class="card-text">
      {{ novidade.tipo.texto_evento }} <span *ngIf="showMunicipio">em {{ novidade.nome_municipio }}</span>
    </p>
    <p class="card-text text-muted">{{ novidade.data | date:'dd-MM-yyyy' }}</p>
  </div>
  <div class="card-footer">
    <div class="text-right">
      <a
        [routerLink]="['/licitacoes/' + novidade.licitacaoNovidade.id_licitacao]"
        class="btn btn-sm btn-primary btn-corner"
      >
        Detalhes
      </a>
    </div>
  </div>
</div>
