<div class="filter text-right mb-4">
  <button
    class="btn btn-secondary"
    (click)="open(content)">
    <span class="icon-sliders"></span>
    Filtros
  </button>
</div>

<ng-template
  #content
  let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Filtrar</h5>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Fechar"
      (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body filter-body">
    <label>Tipo de novidade:</label>
    <div class="row no-gutters">
      <div class="col-md">
        <button
          class="btn btn-block btn-sm btn-filter"
          [ngClass]="{ 'btn-disabled': !faseContratacaoSelecionada }"
          (click)="toggleFiltroContratacao()">
          <span
            class="icon-circle"
            [ngClass]="{
              'text-contratacao': faseContratacaoSelecionada,
              'text-disabled': !faseContratacaoSelecionada
            }"></span>
          Contratação
        </button>
      </div>
      <div class="col-md">
        <button
          class="btn btn-block btn-sm btn-filter"
          [ngClass]="{ 'btn-disabled': !fasePagamentoSelecionada }"
          (click)="toggleFiltroPagamento()">
          <span
            class="icon-circle"
            [ngClass]="{
              'text-pagamento': fasePagamentoSelecionada,
              'text-disabled': !fasePagamentoSelecionada
            }"></span>
          Pagamento
        </button>
      </div>
    </div>
    <div class="form-group">
      <label for="dataInicial">De</label>
      <div class="input-group">
        <input
          id="dataInicial"
          class="form-control"
          placeholder="Data inicial"
          name="dp1"
          [(ngModel)]="dataInicial"
          firstDayOfWeek="0"
          [minDate]="minDate"
          [maxDate]="maxDate"
          ngbDatepicker
          #d1="ngbDatepicker">
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            (click)="d1.toggle()"
            type="button">
            <span class="icon-calendar"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="dataFinal">Até</label>
      <div class="input-group">
        <input
          id="dataFinal"
          class="form-control"
          placeholder="Data final"
          name="dp2"
          [(ngModel)]="dataFinal"
          firstDayOfWeek="0"
          [minDate]="minDate"
          [maxDate]="maxDate"
          ngbDatepicker
          #d2="ngbDatepicker">
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            (click)="d2.toggle()"
            type="button">
            <span class="icon-calendar"></span>
          </button>
        </div>
      </div>
    </div>

    <div class="text-right mt-4">
      <button
        class="btn btn-primary"
        (click)="fecharFiltro()">
        Aplicar
      </button>
    </div>
  </div>
</ng-template>
