<div class="filter mb-4">
  <div class="row no-gutters">
    <div class="col">
      <button
        class="btn btn-block btn-sm btn-filter"
        [ngClass]="{'btn-disabled': !licitacaoSelecionada}"
        (click)="toggleFiltroLicitacao()"
      >
        <span
          class="icon-circle"
          [ngClass]="{'text-licitacao': licitacaoSelecionada, 'text-disabled': !licitacaoSelecionada}"
        ></span>
        Licitações
      </button>
    </div>
    <div class="col">
      <button
        class="btn btn-block btn-sm btn-filter"
        [ngClass]="{'btn-disabled': !empenhoSelecionado}"
        (click)="toggleFiltroEmpenho()"
      >
        <span
          class="icon-circle"
          [ngClass]="{'text-empenho': empenhoSelecionado, 'text-disabled': !empenhoSelecionado}"
        ></span>
        Empenhos
      </button>
    </div>
    <div class="col">
      <button
        class="btn btn-block btn-sm btn-filter"
        [ngClass]="{'btn-disabled': !contratoSelecionado}"
        (click)="toggleFiltroContrato()"
      >
        <span
          class="icon-circle"
          [ngClass]="{'text-contrato': contratoSelecionado, 'text-disabled': !contratoSelecionado}"
        ></span>
        Contratos
      </button>
    </div>
  </div>
</div>
