.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;

  @media (min-width: 576px) {
    height: 80vh;
    margin-top: 0;
  }
}

.call-to-action {
  padding-top: 1rem;
  padding-bottom: 1rem;
  @media (min-width: 576px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.headline {
  font-family: "Fredoka One", cursive;
  text-transform: uppercase;
}

.banner {
  background-color: #ffffff;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.banner-img {
  width: 150px;
}
