.app-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  display: block;
  color: #adb5bd;
}

.call-to-action {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.headline {
  font-family: 'Fredoka One', cursive;
  text-transform: uppercase;
}
