<div class="banner">
  <div class="container">
    Um projeto
    <a
      href="https://www.transparencia.org.br/"
      target="_blank">
      <img
        src="assets/imgs/transparencialogo.png"
        alt="Transparência Brasil"
        class="banner-img">
    </a>
  </div>
</div>
<div class="container app-container">
  <div class="row">
    <div class="col-md-7">
      <h1 class="headline text-info">
        Fiscalize a compra de merenda para escolas públicas
      </h1>
      <p class="mt-2">
        Nesta plataforma, desenvolvida pela
        <strong>Transparência Brasil</strong>
        ,
        é possível acompanhar dados oficiais de licitações e
        contratos de alimentação das escolas públicas brasileiras.
      </p>

      <div class="mb-2 mt-5">
        <p>
          <a routerLink="/alertas">
            <button class="btn btn-warning">Explore</button>
          </a>
          o que a Malha Fina da Transparência Brasil encontrou
        </p>
      </div>
      <div class="mt-2 mb-2 headline text-info">OU</div>
      <app-escolher-municipio></app-escolher-municipio>
      
     <div class="mt-5">
       <span class="text-muted text-small">
         Disponível por enquanto apenas para o Rio Grande do Sul.
         <a routerLink="/duvidas">Saiba mais</a>
       </span>
     </div>

    </div>
  </div>
</div>
