<div class="descricao">
  <a
    *ngIf="temLink; else tituloSemLink"
    [routerLink]="['/itens/'+ item.id_item_contrato]"
    target="_parent">
    <span *ngIf="item.resumido && !comHighlight">{{ item.ds_item_resumido }}</span>
    <span *ngIf="!item.resumido && !comHighlight">{{ item.ds_item }}</span>

    <ngb-highlight
      *ngIf="item.resumido && comHighlight"
      [result]="item.ds_item_resumido"
      [term]="termo">
    </ngb-highlight>

    <ngb-highlight
      *ngIf="!item.resumido && comHighlight"
      [result]="item.ds_item"
      [term]="termo">
    </ngb-highlight>
  </a>
  <ng-template #tituloSemLink>
    <span *ngIf="item.resumido">{{ item.ds_item_resumido }}</span>
    <span *ngIf="!item.resumido">{{ item.ds_item }}</span>
  </ng-template>

  <button
    type="button"
    class="btn btn-sm btn-outline-secondary"
    (click)="item.resumido = !item.resumido"
    [attr.aria-expanded]="item.resumido"
    aria-controls="collapseDetalhes"
    [hidden]="item.ds_item.length === item.ds_item_resumido.length">
    ...
  </button>
  <span class="text-muted">
    <span *ngIf="item.qt_itens_contrato && item.sg_unidade_medida">
      ({{ item.qt_itens_contrato }} {{ item.sg_unidade_medida | lowercase }})
    </span>
    <span *ngIf="item.qt_itens_contrato && !item.sg_unidade_medida">
      (Quantidade {{ item.qt_itens_contrato }} de unidade não informada)
    </span>
    <span *ngIf="!item.qt_itens_contrato && item.sg_unidade_medida">
      (Quantidade não informada de {{ item.sg_unidade_medida | lowercase }})
    </span>
  </span>

  <div>
    <span
   *ngIf="item.alertaAtipico"
    class="badge-pill badge-prod-atipico tooltip-base" placement="top" ngbTooltip="De acordo com nossos dados, este produto foi fornecido {{item.alertaAtipico?.total_vendas_item}} vezes, mas apenas {{item.alertaAtipico?.n_vendas_semelhantes}} vez(es) ({{formatProp(item.alertaAtipico?.perc_vendas_semelhantes)}} % dos casos) por empresas com essas atividades econômicas.">Produto atípico</span>

    <ngb-alert [dismissible]="false" *ngIf="item.alertaAtipico" class="custom-alert-card hidden-app visible-print pt-1 mt-1">
      <span class="tooltip-base tooltip-warning icon-shopping-cart mr-1"></span>
      De acordo com nossos dados, este produto foi fornecido {{item.alertaAtipico?.total_vendas_item}} vezes, mas apenas {{item.alertaAtipico?.n_vendas_semelhantes}} vez(es) ({{formatProp(item.alertaAtipico?.perc_vendas_semelhantes)}} % dos casos) por empresas com essas atividades econômicas.
    </ngb-alert>
  </div>

</div>
