<a
  *ngIf="temLink; else tituloSemLink"
  [routerLink]="['/itens/'+ item.id_item_contrato]">
  {{ item.ds_item_resumido }}
</a>
<ng-template #tituloSemLink>{{ item.ds_item_resumido }}</ng-template>

<button
  type="button"
  class="btn btn-sm btn-outline-secondary"
  (click)="item.resumido = !item.resumido"
  [attr.aria-expanded]="!item.resumido"
  aria-controls="collapseDetalhes"
  [hidden]="item.ds_item.length === item.ds_item_resumido.length">
  ...
</button>
<span class="text-muted">
  ({{ item.qt_itens_contrato }} {{ item.itensLicitacaoItensContrato.sg_unidade_medida | lowercase }})
</span>
<div
  id="collapseDetalhes"
  class="descricao-item"
  [ngbCollapse]="!item.resumido">
  {{ item.ds_item }}
</div>
