@font-face {
  font-family: 'icomoon';
  src:  url('../../../assets/fonts/icomoon.eot?fw8tb4');
  src:  url('../../../assets/fonts/icomoon.eot?fw8tb4#iefix') format('embedded-opentype'),
    url('../../../assets/fonts/icomoon.ttf?fw8tb4') format('truetype'),
    url('../../../assets/fonts/icomoon.woff?fw8tb4') format('woff'),
    url('../../../assets/fonts/icomoon.svg?fw8tb4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

th[ordenavel] {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

th[ordenavel].asc:before, th[ordenavel].desc:before {
  font-family: 'icomoon'!important;
  display: inline;

  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

th[ordenavel].asc:before {
  content: '\e90d';
}

th[ordenavel].desc:before {
  content: '\e911';
}

.item-destaque-wrapper {
  position: sticky;
  top: 48px;
  z-index: 999;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-radius: 0.2rem;
  background-color: #f2f7f3;
}

.itens-semelhantes-corpo {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px;
}

.table-th-dividido-up {
  border-top: none
}

.positivo {
  color: #b7472a;
}

.negativo {
  color: #0c7b93;
}

.nowrap {
  white-space: nowrap;
}
