<div class="view-container" *ngIf="item">
  <app-barra-titulo
    [titulo]="item.ds_item_resumido | titlecase"
    [subtitulo]="item.itensContratoOrgao.nm_orgao + ' &#9474; Contrato ' + item.nr_contrato + '/' + item.ano_contrato"
    [exibirVoltar]="true"></app-barra-titulo>

  <div class="container">
    <div class="row item-destaque-wrapper">
      <div class="col-lg-6">
        <strong>Descrição completa</strong>
        <div class="pb-4">{{ item.ds_item }}</div>
      </div>
      <div class="col-lg-6">
        <div class="row d-flex align-items-center">
          <div class="col-md-4">
            <div>
              <strong>Valor por unidade</strong>
            </div>
            <div class="numero numero-destaque">
              {{ item.vl_item_contrato | currency: "R$" }}
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <strong>Mediana do estado</strong>
            </div>
            <div class="numero numero-destaque">
              {{ item.mediana_valor | currency: "R$" }}
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <strong>Diferença com estado</strong>
            </div>
            <div class="numero-destaque">
              <span
                *ngIf="(item.vl_item_contrato - item.mediana_valor) < 0"
                class="negativo">
                {{
                  (item.vl_item_contrato - item.mediana_valor) /
                    item.mediana_valor | percent: "1.1"
                }}
                <span class="small text-muted">(mais barato)</span>
              </span>
              <span
                *ngIf="(item.vl_item_contrato - item.mediana_valor) > 0"
                class="positivo">
                +{{
                  (item.vl_item_contrato - item.mediana_valor) /
                    item.mediana_valor | percent: "1.1"
                }}
                <span class="small text-muted">(mais caro)</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h4>Comparação de {{ item.ds_item_resumido | lowercase }} com similares</h4>
    <div class="itens-semelhantes-corpo">
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col" class="align-middle table-th-dividido-up">
                Produto similar
              </th>
              <th scope="col" class="table-th-monospace table-th-dividido-up">
                Município
              </th>
              <th scope="col" class="table-th-monospace text-right table-th-dividido-up">
                Contrato
              </th>
              <th scope="col" class="table-th-monospace text-right table-th-dividido-up">
                Valor por
                <br />
                unidade (R$)
              </th>
              <th scope="col" class="table-th-monospace text-right table-th-dividido-up">
                Diferença
                <app-tooltip-ajuda
                  [posicao]="'top'"
                  [descricao]="'Diferença percentual entre o valor do item e itens similares em outros contratos'"
                ></app-tooltip-ajuda>
                <br />
                c/ similar (%)
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let itemSemelhante of item.itensSemelhantes; index as i" class>
              <td class="align-middle">
                <app-descricao-item
                    [item]="itemSemelhante"
                    [temLink]="false"></app-descricao-item>
              </td>
              <td class="align-middle nowrap">{{ itemSemelhante.nome_municipio | titlecase }}</td>
              <td class="align-middle text-right">
                <a
                  [routerLink]="['/contratos/' + itemSemelhante.id_contrato]"
                  target="_blank">
                  {{ itemSemelhante.nr_contrato }}/{{ itemSemelhante.ano_licitacao }}
                </a>
              </td>
              <td class="numero align-middle">
                {{ itemSemelhante.vl_item_contrato | currency: "":"" }}
              </td>
              <td
                class="numero align-middle"
                [style.background-color]="defineCorFundo(itemSemelhante.percentual_vs_semelhante)"
                [style.color]="defineCor(itemSemelhante.percentual_vs_semelhante)">
                <span *ngIf="itemSemelhante.percentual_vs_semelhante > 0">+</span
                >{{ itemSemelhante.percentual_vs_semelhante | percent: "1.1" }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
