.item-destaque-wrapper {
  position: sticky;
  top: 48px;
  z-index: 999;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-radius: 0.2rem;
  background-color: #f2f7f3;
}

.itens-semelhantes-corpo {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px;
}

.table-th-dividido-up {
  border-top: none
}

.positivo {
  color: #b7472a;
}

.negativo {
  color: #0c7b93;
}

.nowrap {
  white-space: nowrap;
}
