<div class="view-container" *ngIf="item">
  <app-barra-titulo
    [titulo]="item.ds_item_resumido | titlecase"
    [subtitulo]="item.itensContratoOrgao.nm_orgao + ' &#9474; Contrato ' + item.nr_contrato + '/' + item.ano_contrato"
    [exibirVoltar]="true"></app-barra-titulo>

  <div class="container">
    <div class="row item-destaque-wrapper d-flex align-items-center">
      <div class="col-lg-7">
        <strong>Descrição informada</strong>
        <app-descricao-item
          [item]="item"
          [temLink]="false"
          [comUnidade]="false"
          [itemResumido]="false"></app-descricao-item>
      </div>
      <div class="col-lg-5">
        <div class="row">
          <div class="col-md-6 text-right">
            <div>
              <strong>Mediana do estado</strong>
            </div>
            <div class="numero numero-destaque">
              {{ item.mediana_valor | currency: "R$" }}
            </div>
          </div>
          <div class="col-md-6 text-right">
            <div>
              <strong>Valor por unidade</strong>
            </div>
            <div class="numero numero-destaque">
              {{ item.vl_item_contrato | currency: "R$" }}
            </div>
            <div class="small">
              <span
                *ngIf="(item.vl_item_contrato - item.mediana_valor) < 0"
                class="negativo">
                {{
                  (item.vl_item_contrato - item.mediana_valor) /
                    item.mediana_valor | percent: "1.1"
                }}
                <span class="text-muted">(mais barato)</span>
              </span>
              <span
                *ngIf="(item.vl_item_contrato - item.mediana_valor) > 0"
                class="positivo">
                +{{
                  (item.vl_item_contrato - item.mediana_valor) /
                    item.mediana_valor | percent: "1.1"
                }}
                <span class="text-muted">(mais caro)</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h4>
      Produtos com descrição mais semelhante em outros municípios
      <app-tooltip-ajuda
        [descricao]="'Os produtos abaixo foram selecionados a partir de sua descrição (palavras e unidades de medida semelhantes ao produto selecionado), o preço e o ano'"></app-tooltip-ajuda>
    </h4>
    <div class="itens-semelhantes-corpo">
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th
                scope="col"
                class="align-middle table-th-dividido-up"
                ordenavel="ds_item"
                (ordenar)="onOrdenar($event)"
                appOrdenavel>
                Produto
              </th>
              <th
                scope="col"
                class="table-th-monospace table-th-dividido-up"
                ordenavel="nome_municipio"
                (ordenar)="onOrdenar($event)"
                appOrdenavel>
                Município
              </th>
              <th
                scope="col"
                class="table-th-monospace text-right table-th-dividido-up"
                ordenavel="ano_licitacao"
                (ordenar)="onOrdenar($event)"
                appOrdenavel>
                Contrato
              </th>
              <th
                scope="col"
                class="table-th-monospace text-right table-th-dividido-up"
                ordenavel="vl_item_contrato"
                (ordenar)="onOrdenar($event)"
                appOrdenavel>
                Valor por
                <br />
                unidade (R$)
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let itemSemelhante of listaService.dadosProcessados$ | async; index as i" class>
              <td class="align-middle">
                <app-descricao-item
                    [item]="itemSemelhante"
                    [temLink]="false"
                    [comUnidade]="false"></app-descricao-item>
              </td>
              <td class="align-middle nowrap">{{ itemSemelhante.nome_municipio | titlecase }}</td>
              <td class="align-middle text-right">
                <a
                  [routerLink]="['/contratos/' + itemSemelhante.id_contrato]"
                  target="_blank">
                  {{ itemSemelhante.nr_contrato }}/{{ itemSemelhante.ano_licitacao }}
                </a>
              </td>
              <td class="numero align-middle">
                {{ itemSemelhante.vl_item_contrato | currency: "":"" }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
